<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>OSM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="margin: 0; padding: 0; background:#FEDA31">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="padding: 50px 0 50px 0;">
          <table
            align="center"
            style="background:#FEDA31; padding:0px;margin: 0 auto;"
            width="602"
          >
            <tr style="background:#FEDA31">
              <td style="padding-bottom:30px">
                <a href="{{imageUrl}}">
                  <img
                    src="https://outsourceme.s3.amazonaws.com/portfolio/1636702108246_1636702108244-logo.png"
                    alt="OSM"
                    style="display: block;margin:0 auto"
                /></a>
              </td>
            </tr>
            <tr>
              <td>
                <table
                  style="border-collapse:collapse;overflow:hidden;background:#fff"
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  style="border: 1px solid #cccccc; "
                >
                  <tbody>
                    <tr>
                      <td
                        style="padding-top:50px;text-align:center;padding-left: 70px;padding-right: 70px;"
                      >
                        <img
                          src="https://outsourceme.s3.amazonaws.com/portfolio/1636702127054_1636702127053-4110941.png"
                          alt="OSM"
                          style="display: block;margin:0 auto"
                        />

                        <h2
                          style="font-size:28px;color:#000;font-family: 'Inter', sans-serif; font-weight:700;margin-bottom: 15px;
    margin-top: 30px;"
                        >
                          Your Discount Coupon
                        </h2>
                        <p
                          style="font-size:16px;color:#333;font-family: 'Inter', sans-serif; font-weight:500;margin-bottom: 0;margin-top: 3px;"
                        >
                          Hey {{name}}, as a way of saying thanks for
                          subscription with us, here is a coupon for ${{amount}}
                          off on your next purchase.
                        </p>
                        <a href="{{siteuUrl}}" style="text-decoration:none;">
                          <p
                            style="width:100%;max-width:277px;background:#fff;color:#ff1414; padding:10px 0px;margin: 0 auto;border: 2px dashed #000000;font-size:30px; font-family: 'Inter', sans-serif; font-weight:600;margin-bottom:24px; margin-top: 20px;"
                          >
                            {{coupon_code}}
                          </p>
                        </a>
                        <a href="{{siteuUrl}}" style="text-decoration:none;">
                          <p
                            style="width:100%;max-width:300px;background:#FFDA1B;color:#000; padding:10px 0px;margin: 0 auto;box-shadow: 4px 4px;
    border: 2px solid #000000;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;margin-bottom:20px;box-shadow: 4px 4px #000;font-size: 21px;"
                          >
                            REDEEM YOUR COUPON
                          </p>
                        </a>
                        <p
                          style="font-size:12px;color:#696363;font-family: 'Inter', sans-serif; font-weight:500;margin-bottom: 20px;margin-top: 3px;"
                        >
                          Coupon will expire on : {{expire}}
                        </p>
                        <p
                          style="font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;margin-bottom: 0;margin-top: 3px;"
                        >
                          Kind and best regard.
                        </p>
                        <p
                          style="font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;margin-bottom: 0;margin-top: 3px;margin-bottom:50px"
                        >
                          OutsourceMe Team
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="text-align:center;padding-bottom:50px">
          <p
            style="font-family: 'Inter', sans-serif;font-size:12px; font-weight:400;margin-bottom: 0;margin-top: 3px;color:#000"
          >
            Copyright © 2021 OutsourceMe.com - All rights reserved
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
