.banner_section {
  text-align: center;
  padding: 15px 0px;
  @media only screen and (min-width: 1024px) {
    padding: 50px 0px;
  }
}
.description_section {
  padding: 15px 0px;
  @media only screen and (min-width: 1024px) {
    padding: 40px 0px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    text-align: center;
    padding: 0px;
  }
  .col_left {
    @media only screen and (min-width: 1366px) {
      width: 100%;
      max-width: 456px;
    }
    h3 {
      color: #2d3134;
      @media only screen and (min-width: 991px) {
        font-size: 25px;
        line-height: 30px;
      }
      @media only screen and (min-width: 1366px) {
        font-size: 30px;
        line-height: 37px;
      }
    }
    p {
      color: #717876;
    }
  }
}

.countdown_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px 40px;
  @media only screen and (min-width: 1024px) {
    padding: 50px 0px 80px;
  }
  .col_3 {
    text-align: center;
    @media only screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
    .number_div {
      font-family: "Gilroy-ExtraBold";
      font-size: 22px;
      line-height: 28px;
      color: #224e42;
      @media only screen and (min-width: 991px) {
        font-size: 28px;
        line-height: 35px;
      }
      @media only screen and (min-width: 1366px) {
        font-size: 46px;
        line-height: 53px;
      }
    }
    .count_label {
      font-family: "Gilroy-SemiBold";
      font-size: 18px;
      line-height: 28px;
      color: #f6c851;
    }
  }
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.joureny_section {
  background: #f8f8f8;
  padding: 50px 0px 0px;
  @media only screen and (min-width: 1024px) {
    padding: 80px 0px;
  }
  h3 {
    max-width: 900px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    @media only screen and (min-width: 991px) {
      line-height: 50px;
    }
  }
  .journey_wrapper {
    display: flex;
    align-items: center;
    h3 {
      @media only screen and (max-width: 990px) {
        text-align: center;
        margin-top: 20px;
      }
    }
    .journey_list {
      padding-left: 0px;
      list-style: none;
      margin-top: 20px;
      @media only screen and (max-width: 990px) {
        margin-top: 40px;
      }
      li {
        font-family: "Gilroy-SemiBold";
        font-size: 14px;
        line-height: 21px;
        color: #717876;
        padding: 15px 0px;

        @media only screen and (min-width: 768px) {
          font-size: 16px;
          line-height: 23px;
        }
        @media only screen and (min-width: 991px) {
          font-size: 18px;
          line-height: 32px;
        }
        @media only screen and (max-width: 767px) {
          display: flex;
          align-items: center;
        }
        span {
          display: inline-block;
          background: #00c174;
          padding: 0px 15px;
          margin-right: 15px;
          border-radius: 6px;
          color: #fff;
          font-size: 18px;
          font-family: "Gilroy-ExtraBold";
          position: relative;
          &::before {
            content: url("/images/green-vertical-line.png");
            width: 2px;
            height: 7px;
            position: absolute;
            top: 109%;
            left: 48%;
            @media only screen and (max-width: 990px) {
              display: none;
            }
          }
        }
        &:last-child {
          span {
            &::before {
              content: "";
            }
          }
        }
      }
    }
  }
  .client_logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 0;
    @media only screen and (max-width: 990px) {
      flex-direction: column;
      .each_logo {
        margin-bottom: 10px;
      }
    }
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      .each_logo {
        margin-bottom: 20px;
      }
    }
    @media only screen and (min-width: 1024px) {
      padding: 80px 0px 0;
    }
  }
}

.who_we_are_section {
  padding: 40px 0px;
  @media only screen and (min-width: 1024px) {
    padding: 80px 0px;
  }
  width: 100%;

  margin: 0 auto;
  text-align: center;
  @media only screen and (min-width: 1024px) {
    max-width: 570px;
  }
  h3 {
    margin-bottom: 25px;
  }
  p {
    color: #717876;
  }

  a {
    width: 100%;
    max-width: 207px;
    margin: 15px auto 25px;
    display: block;
    padding: 15px 15px;
  }
  .who_we_are_img {
    margin: 0 auto !important;
    max-width: 363px;
    height: auto;
    padding: 0;
  }
}

.bottom_bg_section {
  background: url("../public/images/about-bottom-bg.png") no-repeat;
  background-size: cover;
  //  background-attachment: fixed;
  @media only screen and (max-width: 1560px) {
    background: url("../public/images/about-bottom-bg-2.png") no-repeat;
    background-size: cover;
    background-position: right;
  }
  @media only screen and (min-width: 991px) {
    height: 721px;
    padding: 0px;
  }
  @media only screen and (max-width: 767px) {
    background: url("../public/images/about-bottom-bg-3.png") no-repeat;
    background-size: cover;
    background-position: left;
  }

  height: auto;
  padding: 80px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  .col_left {
    width: 100%;
    text-align: center;
    @media only screen and (min-width: 768px) {
      max-width: 50%;
      text-align: left;
    }
  }
  h5 {
    color: #fff;
    margin-bottom: 20px;
    font-family: "Gilroy-ExtraBold";
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.3px;
  }
  p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 25px;
    margin: 0;
    @media only screen and (max-width: 767px) {
      margin: 10px 0;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #224e42;
    font-size: 16px;
    font-family: "Gilroy-Bold";
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    width: max-content;
    padding: 15px 30px;
    margin-top: 30px;
    &:hover {
      opacity: 0.5;
    }
    @media only screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }
}
