.blog_section{
    padding: 50px 0;
    h1{
        text-align: center;
        margin-bottom: 20px;
        color:#2D3134 !important;
        font-size: 40px;
        line-height: 48px;
    }
    p{
        width: 100%;
        max-width: 690px;
        margin: 0 auto;
        text-align: center;
        color: #717876
    }
}
.blog_portfolio_section{
    width: 100%;
    padding: 50px 0;
    background: #1d1d1d;
    h2{
        font-family: "Gilroy-ExtraBold";
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 44px;
        color: #FFFFFF;
        @media only screen and (max-width: 990px) {
           text-align: center;
           font-size: 28px;
        }

    }
    p{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        @media only screen and (max-width: 990px) {
            text-align: center;
            font-size: 14px;
        }
    }
    .portfolio_blog_row{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        margin-top: 50px;
        @media only screen and (max-width: 990px) {
            margin-top: 0px;
        }
        .col_4{
            width: 100%;
            display: block;
            @media only screen and (max-width: 990px) {
                padding:  0 40px;
            }
            // @media only screen and (min-width: 768px) {
            //     max-width: 50%;
            //   }
              @media only screen and (min-width: 991px) {
                max-width: 30.5%;
              }
            .blog_date{
                font-family:"Gilroy-Medium";
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 25px;
                text-align: center;
                color: #214E41;
                background: #F6C851;
                border-radius: 50%;
                transform: translateY(-63px);
                height: 77px;
                width: 77px;
                position: absolute;
                display: flex;
                align-items: center;
                margin-left: 29px;
            }
             
            .blog_p{
                font-weight: 600;
                font-size: 13px;
                line-height: 26px;
                margin-top: 35px;
                font-family: "Gilroy-SemiBold";
                @media only screen and (max-width: 990px) {
                    text-align: center;
                }
            }
            .blog_question{
                font-size: 22px;
                line-height: 26px;
                font-family: "Gilroy-SemiBold";
                @media only screen and (max-width: 990px) {
                    text-align: center;
                    font-size: 20px;
                }
            }
            .blog_text{
                font-family: "Gilroy-SemiBold";
                font-size: 15px;
                line-height: 25px;
                @media only screen and (max-width: 990px) {
                    text-align: center;
                }
            }
        }
    }
   
}
.blog_middle_section{
    width: 100%;
    @media only screen and (max-width: 990px) {
        margin-top: 50px;
    }
    .middle_row{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        margin-top: 50px;
        @media only screen and (max-width: 990px) {
            margin-top: 0px;
        }
        .col_6{
            width: 100%;
            display: block;
            @media only screen and (max-width: 990px) {
                padding:  0 40px;
            }
            // @media only screen and (min-width: 768px) {
            //     max-width: 50%;
            //   }
            @media only screen and (min-width: 991px) {
                max-width: 48%;
            }
            .blog_date{
                font-family:"Gilroy-Medium";
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 25px;
                text-align: center;
                color: #214E41;
                background: #F6C851;
                border-radius: 50%;
                transform: translateY(-63px);
                height: 77px;
                width: 77px;
                position: absolute;
                display: flex;
                align-items: center;
                margin-left: 29px;
            }
            .blog_p{
                font-weight: 600;
                font-size: 13px;
                line-height: 26px;
                margin-top: 35px;
                font-family: "Gilroy-SemiBold";
                @media only screen and (max-width: 990px) {
                    text-align: center;
                }
            }
            .blog_question{
                font-size: 22px;
                line-height: 26px;
                font-family: "Gilroy-SemiBold";
                @media only screen and (max-width: 990px) {
                    text-align: center;
                    font-size: 20px;
                }
            }
            .blog_text{
                font-family: "Gilroy-Medium";
                font-size: 15px;
                line-height: 25px;
                @media only screen and (max-width: 990px) {
                    text-align: center;
                }
            }
        }
    }
}
.blog_bottom_section{
    width: 100%;
   .bottom_blog_row{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        margin-top: 50px;
        @media only screen and (max-width: 990px) {
            margin-top: 0px;
        }
        .col_4{
            width: 100%;
            display: block;
            @media only screen and (max-width: 990px) {
                padding:  0 40px;
            }
            // @media only screen and (min-width: 768px) {
            //     max-width: 50%;
            //   }
              @media only screen and (min-width: 991px) {
                max-width: 30.5%;
              }
              .blog_date{
                font-family:"Gilroy-Medium";
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 25px;
                text-align: center;
                color: #214E41;
                background: #F6C851;
                border-radius: 50%;
                transform: translateY(-63px);
                height: 77px;
                width: 77px;
                position: absolute;
                display: flex;
                align-items: center;
                margin-left: 29px;
            }
            .blog_p{
                font-weight: 600;
                font-size: 13px;
                line-height: 26px;
                margin-top: 35px;
                font-family: "Gilroy-SemiBold";
                @media only screen and (max-width: 990px) {
                    text-align: center;
                }
            }
            .blog_question{
                font-size: 22px;
                line-height: 26px;
                font-family: "Gilroy-SemiBold";
                @media only screen and (max-width: 990px) {
                    text-align: center;
                    font-size: 20px;
                }
            }
            .blog_text{
                font-family: "Gilroy-Medium";
                font-size: 15px;
                line-height: 25px;
                @media only screen and (max-width: 990px) {
                    text-align: center;
                }
            }
        }
    }
   
}
.blog_last_section{
    width: 100%;
    margin-bottom: 40px;
    .last_row{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        margin-top: 50px;
        @media only screen and (max-width: 990px) {
            margin-top: 0px;
        }
        .col_6{
            width: 100%;
            display: block;
            @media only screen and (max-width: 990px) {
                padding:  0 40px;
            }
            // @media only screen and (min-width: 768px) {
            //     max-width: 50%;
            //   }
            @media only screen and (min-width: 991px) {
                max-width: 48%;
            }
            .blog_date{
                font-family:"Gilroy-Medium";
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 25px;
                text-align: center;
                color: #214E41;
                background: #F6C851;
                border-radius: 50%;
                transform: translateY(-63px);
                height: 77px;
                width: 77px;
                position: absolute;
                display: flex;
                align-items: center;
                margin-left: 29px;
            }
            .blog_p{
                font-weight: 600;
                font-size: 13px;
                line-height: 26px;
                margin-top: 35px;
                font-family: "Gilroy-SemiBold";
                @media only screen and (max-width: 990px) {
                    text-align: center;
                }
            }
            .blog_question{
                font-size: 22px;
                line-height: 26px;
                font-family: "Gilroy-SemiBold";
                @media only screen and (max-width: 990px) {
                    text-align: center;
                    font-size: 20px;
                }
            }
            .blog_text{
                font-family: "Gilroy-Medium";
                font-size: 15px;
                line-height: 25px;
                @media only screen and (max-width: 990px) {
                    text-align: center;
                }
            }
        }
    }
}