.cancellation_cotainer {
  padding: 50px 0px;
  h1{
    @media only screen and(max-width:990px){
     font-size: 26px;
     text-align: center;
   }
  }
  h2 {
    padding-top: 30px;
    font-size: 40px;
    @media only screen and(max-width:990px){
      font-size: 24px;
      text-align: center;
    }
  }
  p {
    color: #717876;
    @media only screen and(max-width:990px){
      line-height: 26px;
      text-align: center;
    }
    &.bold {
      font-family: "Gilroy-Bold";
      color: #000;
    }
    &.privacy {
      margin-top: 30px;
    }
  }
}
