.banner_section {
    text-align: center;
    padding:15px 0px;
    @media only screen and (min-width: 1024px) {
        padding: 50px 0px;
    }
    p {
        margin-bottom: 0px;
        font-size: 22px;
        line-height: 38px;
        @media only screen and (max-width: 990px) {
            font-size: 16px;
            line-height: 35px;
        }
       
    }
    a {
        color: #00c174 !important;
        border-bottom: 2px solid #00c174;
        &:hover {
            color: #000 !important;
            border-bottom: 2px solid #000;
        }
    }
    span {
        text-align: center;
        display: block;
    }
}
.form_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    @media only screen and(min-width:1024px) and(max-width:1024px){
        padding-top: 0px;
    }
    @media only screen and(max-width:767px){
        padding: 40px 0;
    }
    
    .form_response {
        text-align: center;
        display: block;
    }
    .res_contain {
        text-align: left !important;
        span {
            text-align: left;
            display: block;
        }
    }
    .form_control {
        width: 100%;
        max-width: 520px;
        height: 56px;
        padding: 0px 20px;
        background: #ffffff;
        border: 1px solid #bdbdbd;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: "Gilroy-SemiBold";
        font-size: 15px;
        line-height: 25px;
        color: #393939 !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: "";
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAYAAAACTR1pAAAABHNCSVQICAgIfAhkiAAAAIJJREFUKFOF0WERwjAMBtA3B0jAAXMASEDBLOAEJEwCEpCAFHDAZbceWWGlv3rXvuZr0qHHBSc8tdeIO8Zu3uzxwLGBAw14YRtwM+NdA2d0iHsBY7XwFwpQ4Bq+pnhTpdKCDGscjYok8acFqiuWx3Lsn2gNlso3nHO8PKk66p8xfo7fKbgjGsiOyp8AAAAASUVORK5CYII=) no-repeat;
        background-position: 97%;
    }
    a {
        margin-top: 20px;
        &::after{
            content: url("/images/left-arrow2.png");
            top: 3px !important;
            position: relative;
            margin-left: 10px;
        }
    }
    .form {
        max-width: 600px;
        margin: 100px auto 120px;
        width: 100%;
        @media only screen and(max-width:990px){
           margin: 0px;
        }
        .form_group {
            margin: 20px 0px;
            label {
                display: block;
                line-height:36px;
                font-family: "Gilroy-Medium";
                color: #2d3134;
                font-size: 14px;
                span{
                    color: rgb(212, 44, 44);
                    font-size: 23px;
                    position: absolute;
                    margin-top: 6px;
                }
            }
            .form_control {
                width: 100%;
                max-width: 100%;
                height: 56px;
                padding: 30px 20px;
                background: #ffffff;
                border: 1px solid #bdbdbd;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                border-radius: 8px;
                font-family: "Gilroy-SemiBold";
                font-size: 15px;
                line-height: 25px;
                color: #393939 !important
               
            }
            
        }
        h1{
            @media only screen and(max-width:990px){
                text-align: center;
            }
                
            
        }
    }
}
.bottom_section {
    background: url("../public/images/fp-contactimg.jpg");
    background-size: cover;
    height: 430px;
    margin:150px 0px 0px;
    .contact_info_box {
        margin: 0 auto;
        width: 100%;
        max-width: 460px;
        background: #f6c851;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height:390px;
        transform: translate(0%, -36%);
        border: 4px solid #fff;
        padding:30px;
        text-align: center;
        a {
            color: #000000;
            text-decoration: none;
            font-family: "Gilroy-SemiBold";
            font-size: 24px;
            line-height: 40px !important;
            @media  only screen and (max-width:767px){
                font-size: 22px;
            }
            &:hover {
              color: #00c174;
            }
          }
        .chat_link{
        text-decoration: underline !important;
        }
        h2{
            @media  only screen and (min-width:1366px){
                margin-bottom: 30px !important;
            }
                
        }
    }
}
