.middle_box_col_12 {
  background: #e3eeed;
  padding: 50px 50px;
 
  .inner_container {
    .title {
      font-family: "Gilroy-SemiBold";
      color: #393939;
      font-size: 20px;
      
        @media only screen and (max-width: 767px) {
          text-align: center;
         
        }
      
    }
  }
  .content {
    background: #fff;
    padding: 30px;
    margin: 30px 0px;
    position: relative;
    box-shadow: -1px 2px 5px 0 #dee2e6;
    .form_group {
      padding: 20px 10px;
      @media only screen and (max-width: 999px) {
        width: 100%;
        padding: 10px 10px;
      }
    }
    
  }
  .label_top {
    font-family: "Gilroy-Medium";
    color: #2d3134;
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0 5px;
  }
  label {
    font-family: "Gilroy-Medium";
    color: #2d3134;
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0 5px;
  }
  .change_password {
    padding: 40px 35px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    label {
      font-family: "Gilroy-Medium";
      color: #2d3134;
      font-size: 14px;
      line-height: 32px;
      margin-top: 0px;
      margin-left: 10px;
    }
    input {
      width: 21px;
      height: 21px;
    }
  }
  input {
    line-height: 24px;
    font-family: "Gilroy-SemiBold";
    color: #393939;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #bdbdbd;
    height: 46px;
    padding: 0 20px;
    &:focus {
      border: 2px solid #393939;
      box-shadow: none;
    }
  }
  select {
    display: block;
    border-radius: 8px;
    border: 1px solid #bdbdbd;
    height: 46px;
    width: 100%;
    line-height: 24px;
    padding: 0 20px;
    font-family: "Gilroy-SemiBold";
    color: #2d3134;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    background: url("../public/images/down-2.png") no-repeat;
    background-position: 93%;
  }
  .pass_validate {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    @media only screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
    ul {
      padding-left: 0px;
      margin-bottom: 30px;
      display: flex;
      @media only screen and (max-width: 767px) {
        margin-bottom: 0px;
      }
      li {
        line-height: 25px;
        font-size: 14px;
        font-family: "Gilroy-SemiBold";
        color: #8e9895;
        list-style-type: none;
        padding-right: 20px;
        @media only screen and (max-width: 767px) {
          font-size: 10px;
          text-align: left;
        }
        &::before {
          content: url("/images/ellipse.png");
          padding-right: 10px;
        }
      }
      .tick {
        color: #00c174 !important;
      }
    }
  }
  .radio_buttons {
    display: flex;
    .radio {
      display: flex;
      margin: 0 10% 0 20px;
      span {
        align-self: center;
        line-height: 24px;
        padding: 0 20px;
        font-family: "Gilroy-Regular";
        color: #2d3134;
        font-size: 16px;
      }
    }
  }
  
}
