.dashboard_container {
  max-width: 1920px;
  margin: 0 auto;
  .row {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  .dashboard_burger_menu {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
    .logo {
      padding: 30px;
      display: flex;
      justify-content: center;

      a {
        align-self: center;
      }
      img {
        @media (max-width: 767px) {
          width: 100%;
          max-width: 190px;
        }
      }
    }
    .sidebar {
      overflow: auto;
      height: calc(100vh - 200px);
      .title {
        font-family: "Gilroy-SemiBold";
        font-size: 16px;
        padding-left: 30px;
        color: #a8c0ba;
        display: flex;
        p {
          font-family: "Gilroy-SemiBold";
          font-size: 16px;
          color: #fff;
          line-height: 24px;
          align-self: center;
          margin: 0;
        }
      }
      &:hover {
        text-decoration: none;
      }
      .drop_arrow {
        &::before {
          content: url("/images/down-2.png");
          width: 11px;
          height: 7px;
          padding-left: 20px;
          top: 3px;
          right: -28px;
          position: absolute;
        }
        &.up {
          &::before {
            content: url("/images/down-2.png");
            width: 11px;
            height: 7px;
            padding-left: 20px;
            top: 39px;
            right: 0px;
            position: absolute;
            transform: rotate(180deg);
          }
        }
        p {
          font-family: "Gilroy-SemiBold";
          font-size: 16px;
          color: #a8c0ba;
          line-height: 24px;
          align-self: center;
          margin: 0;
        }
      }
      .each_menu {
        display: flex;
        flex-wrap: wrap;
        &:hover {
          .icon {
            border: 2px solid #feda31;
            background: #fff7d1;
          }
        }
        .icon {
          width: 61px;
          height: 65px;
          display: flex;
          justify-content: center;
          img {
            align-self: center;
          }
          &.active {
            border: 2px solid #feda31;
            background: #fff7d1;
          }
        }
      }
      .billing_drop {
        //margin-top: 5px;
        padding-left: 20px;
        position: relative;
        &.show {
          display: block;
        }
        &.hide {
          display: none;
        }
        &::before {
          content: url("/images/down-2.png");
          width: 11px;
          height: 7px;
          padding-left: 20px;
          top: -50px;
          right: 27px;
          position: absolute;
        }
        &.up {
          &::before {
            content: url("/images/down-2.png");
            width: 11px;
            height: 7px;
            padding-left: 20px;
            top: -28px;
            right: 0px;
            position: absolute;
            transform: rotate(180deg);
          }
        }
        .each-menu {
          .title {
            padding: 15px 0px 15px 15px;
            border-bottom: 1px solid #e2e2e2;
            &.active_sub {
              background: #e2e2e2;
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
      .account {
        cursor: pointer;
        display: flex;
        width: 100%;
        margin-top: 10px;
        text-decoration: none;
        .icon {
          width: 61px;
          height: 65px;
          display: flex;
          justify-content: center;
          align-items: center;
          .letter {
            &:hover {
              text-decoration: none;
            }
          }
          span {
            background-color: #b5e898;
            border: 2px solid #707070;
            border-radius: 20px;
            height: 40px;
            width: 40px;
            font-family: "Gilroy-SemiBold";
            font-size: 16px;
            color: #a8c0ba;
            line-height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
          }
        }
        .title {
          background: #f8f8f8;
          flex: auto;
          padding-left: 9px;
          justify-content: center;
          display: flex;
          flex-direction: column;
          .project-name {
            &:hover {
              color: #000000;
            }
          }
          h3 {
            font-family: "Gilroy-SemiBold";
            font-size: 16px;
            color: #a8c0ba;
            line-height: 24px;
            margin: 0;
          }
          p {
            font-family: "Gilroy-SemiBold";
            font-size: 16px;
            color: #a8c0ba;
            line-height: 24px;
            margin: 0;
            @media only screen and (max-width: 990px) {
              font-size: 15px;
            }
          }
          .logout {
            font-family: "Gilroy-SemiBold";
            font-size: 16px;
            color: #a8c0ba;
            line-height: 24px;
            margin: 0;
          }
        }
      }
    }
    /* Color/shape of burger icon bars */
    .bm-burger-bars {
      background: #373a47;
      height: 15% !important;
    }
  }
  .left_box {
    background: #fff;
    max-width: 250px;
    min-width: 250px;
    @media only screen and (max-width: 767px) {
      display: none;
    }
    /* @media only screen and (min-width: 1200px) {
      width: 15% !important;
    } */
    .logo {
      margin: 25px auto;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
    .sidebar {
      height: 100vh;
      position: fixed;
      width: 100%;
      max-width: 250px;
      min-width: 250px;
      .menus {
        /*  padding: 20px 0px 20px 30px;
        @media only screen and (min-width: 1360px) {
          padding: 50px 0px 30px 30px;
        }
        @media only screen and (max-width: 767px) {
          padding: 0px 0px 0px 30px;
        } */
        .each_menu {
          //`padding: 0px 0px 20px;

          cursor: pointer;
          &.main_menu {
            margin-left: 30px;
            margin-top: 50px;
          }
          &.sub_menu {
            margin-left: 30px;
            margin-top: 20px;
          }
          .title {
            font-family: "Gilroy-SemiBold";
            font-size: 16px;
            color: #a8c0ba;
            display: flex;
            p {
              margin-bottom: 0px;
              @media only screen and (max-width: 990px) {
                font-size: 15px;
              }
            }
            &.active,
            &:hover {
              border-right: 4px solid #00c174;
              color: #4b5b57;
            }
            &.icon1 {
              &::before {
                content: url("/images/dash-icon1.png");
                margin-right: 15px;
                margin-top: 3px;
              }
            }
            &.icon2 {
              &::before {
                content: url("/images/dash-icon4.png");
                margin-right: 15px;
                margin-top: 3px;
              }
            }
            &.icon3 {
              &::before {
                content: url("/images/dash-icon3.png");
                margin-right: 15px;
                margin-top: 3px;
              }
            }
            &.icon4 {
              &::before {
                content: url("/images/dash-icon2.png");
                margin-right: 15px;
              }
            }
          }
        }
        .dropdown {
          position: relative;
          .up_arrow {
            &::before {
              content: url("../public/images/down-2.png");
              width: 20px;
              height: 20px;
              position: absolute;
              right: 10px;
              top: 10px;
              transform: rotate(180deg);
            }
          }
          .down_arrow {
            &::before {
              content: url("../public/images/down-2.png");
              width: 20px;
              height: 20px;
              position: absolute;
              right: 0px;
              top: 0px;
            }
          }
        }

        .billing_drop {
          //margin-top: 5px;
          padding-left: 30px;
          position: relative;
          &.show {
            display: block;
          }
          &.hide {
            display: none;
          }
          .each_menu {
            font-family: "Gilroy-SemiBold";
            font-size: 16px;
            color: #a8c0ba;
            //display: flex;
            padding: 0px 0px 10px;
            p {
              padding: 0px 0px 10px;
              border-bottom: 1px solid #e2e2e2;
              margin: 0px;
              &.active_sub {
                background: #e2e2e2;
                border-bottom: 1px solid #fff;
              }
              &:hover {
                color: #4b5b57;
              }
            }
          }
        }
      }
      .logout_area {
        background: #e3eeed;
        position: absolute;
        bottom: 100px;
        margin: 10px;
        padding: 15px;
        position: absolute;
        bottom: 0px;
        width: 93%;

        .side_user_name {
          display: flex;
          .letter {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #684793;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            min-width: 50px;
            font-family: "Gilroy-Medium";
            color: #fff;
            font-size: 32px;
          }
          .fullname {
            padding-left: 15px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;

            h3 {
              font-family: "Gilroy-SemiBold";
              color: #4b5b57;
              font-size: 16px;
              margin-bottom: 0px;
            }
            p {
              font-family: "Gilroy-SemiBold";
              color: #a8b5b1;
              font-size: 14px;
              margin-bottom: 0px;
            }
            a {
              font-family: "Gilroy-SemiBold";
              color: #684793;
              font-size: 14px;

              display: flex;
              align-items: center;
              height: 100%;
              text-decoration: none;
              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
        .signout_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 100%;
          height: 41px;
          margin-top: 15px;
          &::before {
            content: url("/images/power-off.png");
            width: 18px;
            height: 18px;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .right_box {
    height: 100vh;
    background: #fff;
    max-width: 360px;
    @media only screen and (max-width: 767px) {
      margin: 0 auto;
    }
    .inner_container {
      .title {
        font-family: "Gilroy-SemiBold";
        color: #393939;
        font-size: 20px;
        padding: 50px 50px 20px;
        border-bottom: 1px solid #cfdcda;
        @media only screen and (max-width: 767px) {
          padding: 50px 20px 20px;
        }
      }
      .content {
        padding: 10px 20px;
        @media only screen and (min-width: 1360px) {
          padding: 10px 50px;
        }
        .each {
          padding: 20px 0px;
          border-bottom: 1px solid #cfdcda;
          .heading {
            font-family: "Gilroy-SemiBold";
            font-size: 20px;
            color: #393939;
            @media only screen and (min-width: 1360px) {
              font-size: 28px;
            }
          }
          .sub_contnet {
            font-family: "Gilroy-SemiBold";
            font-size: 15px;
            color: #2d3134;
          }
        }
        .concern {
          padding: 20px 0px;
          p {
            font-family: "Gilroy-SemiBold";
            font-size: 17px;
            color: #2d3134;
          }
          a {
            margin-top: 20px;
            display: block;
            @media only screen and (max-width: 989px) {
              padding: 15px 7px !important;
            }
          }
        }
      }
    }
  }
  .middle_box {
    background: #e3eeed;
    padding: 50px 30px;

    /*     @media only screen and (min-width: 1200px) {
      width: 60% !important;
    } */
    .inner_container {
      .title {
        font-family: "Gilroy-SemiBold";
        color: #393939;
        font-size: 20px;
        @media only screen and (max-width: 767px) {
          text-align: center;
        }
      }
      .projects {
        background: #fff;
        display: flex;
        justify-content: space-around;
        padding: 30px;
        margin: 30px 0px;
        position: relative;
        box-shadow: -1px 2px 5px 0 #dee2e6;
        .noProject {
          color: #393939;
          font-size: 15px;
          font-family: "Gilroy-Medium";
        }
        .project_box {
          width: 220px;
          height: 220px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border: 1px solid #ccc;
          border-radius: 5px;
          position: relative;
          cursor: pointer;
          margin-bottom: 20px;
          &:hover {
            opacity: 0.5;
          }
          @media only screen and (min-width: 1250px) {
            width: 31%;
          }
          h3 {
            text-align: center;
            font-family: "Gilroy-Bold";
            color: #393939;
            text-transform: capitalize;
          }
          .updates {
            position: absolute;
            bottom: 0px;
            display: flex;
            .count {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #00c174;
              color: #000;
              font-family: "Gilroy-SemiBold";
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 12px;
              margin-right: 8px;
            }
            p {
              font-family: "Gilroy-SemiBold";
              color: #000;
              font-size: 14px;
            }
          }
        }
        .add_new {
          p {
            position: absolute;
            bottom: 50px;
            font-family: "Gilroy-SemiBold";
            color: #000;
            font-size: 14px;
          }
        }
      }
      .activities {
        background: #fff;
        padding: 40px 30px;
        margin-top: 30px;
        box-shadow: -1px 2px 5px 0 #dee2e6;
        .each_row {
          display: flex;
          padding: 20px 0px;
          border-bottom: 1px solid #ccc;
          flex-direction: column;

          .report_date {
            margin-bottom: 0px;
            font-family: "Gilroy-SemiBold";
            font-size: 15px;
            color: #a8c0ba;
          }
          .hours_details {
            font-family: "Gilroy-Medium";
            display: none;
            &.show {
              display: block;
            }
          }
          .hours_title {
            display: flex;
            position: relative;
            cursor: pointer;
            &::after {
              content: url("/images/plus.png");
              position: absolute;
              right: 0;
            }
            h4 {
              font-family: "Gilroy-SemiBold";
              font-size: 18px;
              color: #4b5b57;
              cursor: pointer;
              margin-top: 10px;
              text-transform: uppercase;
            }
            h3 {
              font-family: "Gilroy-SemiBold";
              font-size: 16px;
              color: #4b5b57;
              cursor: pointer;
              margin-top: 10px;
              text-transform: capitalize;
            }
          }
        }
        .end_of_feed {
          padding: 20px 0px;
          font-family: "Gilroy-Medium";
          font-size: 15px;
          p {
            margin-bottom: 0px;
            font-family: "Gilroy-Medium";
            font-size: 15px;
            color: #2d3134;
          }
        }
      }
      .transactions {
        background: #fff;
        display: flex;
        padding: 30px;
        margin: 30px 0px;
        position: relative;
        box-shadow: -1px 2px 5px 0 #dee2e6;
        .nopayment {
          color: #393939;
          font-size: 15px;
          font-family: "Gilroy-Medium";
          margin-top: 15px;
        }
        table {
          th {
            font-family: "Gilroy-Bold";
            color: #000;
            font-size: 15px;
          }
          td {
            color: #000;
            font-size: 13px;
            font-family: "Gilroy-Medium";
            padding: 15px 10px;
          }
        }
      }
      .work_details {
        background: #fff;
        display: flex;
        padding: 30px;
        margin: 30px 0px;
        position: relative;
        box-shadow: -1px 2px 5px 0 #dee2e6;
      }
      .payment_method {
        background: #fff;
        display: flex;
        padding: 30px;
        margin: 30px 0px;
        position: relative;
        box-shadow: -1px 2px 5px 0 #dee2e6;
        justify-content: center;
        @media only screen and (min-width: 1024px) and (max-width: 1365px) {
          padding: 14px !important;
        }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          padding: 14px !important;
        }
        @media only screen and (max-width: 767px) {
          padding: 0px !important;
        }
        .container {
          @media only screen and (max-width: 767px) {
            padding: 0px 15px !important;
          }
        }
        .add_card {
          padding-bottom: 50px;
          .card_form {
            max-width: 800px;
            margin: 0 auto;
            h3 {
              text-align: center;
            }
            label {
              font-family: "Gilroy-Medium";
              color: #2d3134;
              font-size: 16px;
              margin: 15px 0 5px;
              @media only screen and (min-width: 991px) {
                font-size: 18px;
              }
            }
            input {
              font-family: "Gilroy-SemiBold";
              color: #393939;
              border: 1px solid #bdbdbd;
              border-radius: 8px;
              font-size: 15px;
              height: 46px;
              &:focus {
                border: 2px solid #2d3134;
                box-shadow: none;
              }
            }
            .card_input {
              border: 1px solid #bdbdbd;
              font-family: "Gilroy-SemiBold";
              font-size: 15px;
              height: 46px;
              padding: 9px 12px;
              border-radius: 8px;
              &:focus {
                border: 2px solid #2d3134;
              }
            }
            button {
              display: block;
              margin: 25px auto 0;
              @media only screen and (max-width: 767px) {
                padding: 15px 25px !important;
              }
            }
          }
        }
        .saved_card {
          padding-bottom: 50px;
          .card_form {
            max-width: 800px;
            margin: 0 auto;
            h3 {
              text-align: center;
            }
            .remove_card_link {
              font-family: "Gilroy-Medium";
              color: red;
              font-size: 14px;
              margin: 10px 0px;
              display: block;
              &:hover {
                color: #707070;
                text-decoration: none;
              }
            }
            .saved_card_view {
              display: flex;
              max-width: 342px;
              height: 181px;
              flex-direction: column;
              min-height: 150px;
              padding: 12px;
              align-items: flex-start;
              justify-content: space-evenly;
              border: 1px solid #dddd;
              border-radius: 5px;
              background-image: linear-gradient(900deg, #ffda1b, #0b0b0a);

              span {
                font-family: "Gilroy-Bold";
                color: #fff;
                font-size: 16px;
              }
            }
            label {
              font-family: "Gilroy-Medium";
              color: #2d3134;
              font-size: 16px;
              margin: 15px 0 5px;
              @media only screen and (min-width: 991px) {
                font-size: 20px;
              }
            }
            input {
              font-family: "Gilroy-Regular";
              color: #2d3134;
              font-size: 18px;
            }
            .card_input {
              border: 1px solid #ced4da;
              padding: 9px 12px;
              border-radius: 3px;
            }
            button {
              display: block;
              margin: 25px auto 0;
            }
          }
        }
      }
    }
  }
}
.custom_modal {
  .modal_content {
    width: 100%;
    max-width: 490px;
    padding: 20px;
  }
  .modal_header {
    border-bottom: 0px;
    h2 {
      font-family: "Gilroy-Bold";
      font-size: 28px;
      color: #373737;
    }
  }
  .modal_body {
    padding: 0px 20px;
    .form {
      .form_group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        label {
          font-family: "Gilroy-SemiBold";
          font-size: 16px;
          color: #2d3134;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          &.project {
            &::before {
              content: url("/images/project.png");
              width: 21px;
              height: 21px;
              margin-right: 10px;
            }
          }
          &.website {
            &::before {
              content: url("/images/website.png");
              width: 21px;
              height: 21px;
              margin-right: 10px;
            }
          }
        }
        .form_control {
          font-family: "Gilroy-SemiBold";
          font-size: 14px;
          color: #979797;
          width: 100%;
          height: 45px;
          border: 1px solid #ccc;
          padding-left: 20px;
        }
      }
    }
  }
  .modal_footer {
    padding: 0px 20px;
    border: none;
    justify-content: center;
  }
}
.container {
  width: 80%;
  margin: 37px;
  .form {
    .row {
      .pass_validate {
        display: flex;
        flex-direction: row;
        margin-top: 26px;
        @media only screen and (max-width: 767px) {
          display: flex;
          flex-direction: column;
        }
        ul {
          display: flex;
          flex-direction: row;
          padding-left: 0px;
          margin-bottom: 0px;
          @media only screen and (max-width: 767px) {
            margin-bottom: 0px;
          }
          li {
            line-height: 25px;
            font-size: 14px;
            font-family: "Gilroy-SemiBold";
            color: #8e9895;
            list-style-type: none;
            padding-right: 20px;
            @media only screen and (max-width: 767px) {
              font-size: 10px;
              text-align: left;
            }
            &::before {
              content: url("/images/ellipse.png");
              padding-right: 10px;
            }
          }
          .tick {
            color: #00c174 !important;
          }
        }
      }
      .form_heading {
        padding: 30px 0;
        width: 100%;
      }
      .col_md_4 {
        flex: 0 0 auto;
        width: 33.33%;
        margin: 10px 0 10px 0;
        @media (max-width: 990px) {
          width: 100% !important;
        }
        .form_label {
          display: block;
          font-family: "Gilroy-SemiBold";
          font-size: 17px;
          line-height: 25px;
          color: #393939;
        }
        .form_control {
          font-family: "Gilroy-SemiBold";
          font-size: 17px;
          line-height: 25px;
          color: #393939;
          @media (min-width: 1200px) {
            height: 46px;
            width: 100%;
            max-width: 370px;
            border: 1px #707070 solid;
            margin: 10px 0;
            padding: 20px;
          }

          // @media (max-width: 990px) {
          //   height: 46px;
          //   width: 100%;
          //   border: 1px #707070 solid;
          //   margin: 10px 0;
          //   padding: 20px;
          //   font-family: "Gilroy-SemiBold";
          //   font-size: 15px;
          //   line-height: 25px;
          //   color: #393939;
          // }
          @media (max-width: 990px) {
            width: 100% !important;
            max-width: 640px;
          }
          @media (max-width: 767px) {
            width: 100% !important;
            max-width: 500px;
          }
        }
      }
      .col_lg_12 {
        margin: 10px 0 10px 0;
        flex: 0 0 auto;
        width: 100%;
        .form_label {
          display: block;
          font-family: "Gilroy-SemiBold";
          font-size: 17px;
          line-height: 25px;
          color: #393939;
        }
        .form_control {
          font-family: "Gilroy-SemiBold";
          font-size: 17px;
          line-height: 25px;
          color: #393939;
          height: 46px;
          width: 97%;
          border: 1px #707070 solid;
          margin: 10px 0;
          padding: 20px;

          @media (max-width: 990px) {
            width: 100% !important;
            max-width: 640px;
          }
          @media (max-width: 767px) {
            width: 100% !important;
            max-width: 500px;
          }
        }
      }
      .col_sm_3 {
        flex: 0 0 auto;
        width: 25%;
        margin: 10px 0 10px 0;
        @media (max-width: 990px) {
          width: 100% !important;
        }
        .form_label {
          display: block;
          font-family: "Gilroy-SemiBold";
          font-size: 17px;
          line-height: 25px;
          color: #393939;
        }
        .form_control {
          height: 46px;
          max-width: 269px;
          width: 100%;
          border: 1px #707070 solid;
          margin: 10px 0;
          padding: 20px;
          font-family: "Gilroy-SemiBold";
          font-size: 17px;
          line-height: 25px;
          color: #393939;
          @media (max-width: 990px) {
            width: 100% !important;
            max-width: 640px;
          }
          @media (max-width: 767px) {
            width: 100% !important;
            max-width: 500px;
          }
        }
        select {
          height: 46px;
          max-width: 272px;
          width: 100%;
          border: 1px #707070 solid;
          margin: 10px 0px;
          padding: 10px;
          font-family: "Gilroy-SemiBold";
          font-size: 17px;
          line-height: 25px;
          color: #393939;
          @media (max-width: 990px) {
            width: 100% !important;
            max-width: 640px;
          }
          @media (max-width: 767px) {
            width: 100% !important;
            max-width: 500px;
          }
        }
      }
      .col_md_4 {
        margin: 10px 0 10px 0;
        flex: 0 0 auto;
        width: 33.33%;
        @media (max-width: 990px) {
          width: 100% !important;
        }
        .form_label {
          display: block;
          font-family: "Gilroy-SemiBold";
          font-size: 17px;
          line-height: 25px;
          color: #393939;
        }
        .form_control {
          font-family: "Gilroy-SemiBold";
          font-size: 17px;
          line-height: 25px;
          color: #393939;
          @media (min-width: 1200px) {
            height: 46px;
            width: 100%;
            max-width: 370px;
            border: 1px #707070 solid;
            margin: 10px 0;
            padding: 20px;
          }
          @media (max-width: 990px) {
            height: 46px;
            width: 100%;
            border: 1px #707070 solid;
            margin: 10px 0px;
            padding: 20px;
          }
        }
      }
      .form_content {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 20px 0 20px 0;
        input {
          height: 20px;
          width: 20px;
          margin-right: 10px;
        }
        h3 {
          font-size: 18px;
          margin-bottom: 0px;
        }
      }
    }
    .btn {
      display: flex;
      flex-direction: row;
      .form_btn {
        margin: 50px 0;
      }
      .form_btns {
        margin: 50px;
        .white_btn {
          width: 100%;
          max-width: -webkit-max-content;
          max-width: -moz-max-content;
          max-width: max-content;
          height: 56px;
          /* background: #00c174; */
          border-radius: 4px;
          padding: 15px 30px;
          border: 1px solid #000000;
          font-family: "Gilroy-SemiBold";
          font-size: 14px;
          letter-spacing: 1px;
          color: #000000;
          text-decoration: none !important;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          transition: 0.3s;
          line-height: 22px;
        }
      }
    }
  }
}

.burger_menu {
  .drop_arrow_m {
    margin-bottom: 20px;
    &.show {
      display: block;
    }
    &.hide {
      display: none;
    }
    &::before {
      content: url("/images/down-2.png");
      width: 11px;
      height: 7px;
      padding-left: 20px;
      top: 19px;
      right: -10px;
      position: absolute;
    }
    &.up {
      &::before {
        content: url("/images/down-2.png");
        width: 11px;
        height: 7px;
        padding-left: 20px;
        top: 40px;
        right: -16px;
        position: absolute;
        transform: rotate(180deg);
      }
    }
    p {
      font-family: "Gilroy-SemiBold";
      font-size: 16px;
      line-height: 30px;
      color: #fff;
      align-self: center;
      margin: 0;
      padding-left: 35px;
      margin-bottom: 12px;
    }
  }
  .each_menu {
    display: flex;
    flex-wrap: wrap;
    &:hover {
      .icon {
        border: 2px solid #feda31;
        background: #fff7d1;
      }
    }
    .icon {
      width: 61px;
      height: 65px;
      display: flex;
      justify-content: center;
      img {
        align-self: center;
      }
      &.active {
        border: 2px solid #feda31;
        background: #fff7d1;
      }
    }
    p {
      font-family: "Gilroy-SemiBold";
      font-size: 16px;
      line-height: 30px;
      color: #fff;
      align-self: center;
      margin: 0;
      padding: 12px;
    }
  }
  .billing_drop {
    //margin-top: 5px;
    padding-left: 20px;
    position: relative;
    &.show {
      display: block;
    }
    &.hide {
      display: none;
    }
    &::before {
      content: url("/images/down-2.png");
      width: 11px;
      height: 7px;
      padding-left: 20px;
      top: -39px;
      right: 27px;
      position: absolute;
    }
    &.up {
      &::before {
        content: url("/images/down-2.png");
        width: 11px;
        height: 7px;
        padding-left: 20px;
        top: -23px;
        right: 0px;
        position: absolute;
        transform: rotate(180deg);
      }
    }
    .each-menu {
      .title {
        padding: 15px 0px 15px 15px;
        border-bottom: 1px solid #e2e2e2;
        &.active_sub {
          background: #e2e2e2;
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}
.burger_account {
  cursor: pointer;
  background: #e3eeed;
  width: 85%;
  bottom: 10px;
  margin-top: 10px;
  text-decoration: none;
  // position: absolute;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
  .icon {
    width: 61px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 10px;
    .letter {
      &:hover {
        text-decoration: none;
      }
    }
    span {
      background-color: #684793;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      font-family: "Gilroy-Medium";
      font-size: 32px;
      color: #fff;
      line-height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }
  }
  .title {
    padding: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    .project-name {
      &:hover {
        color: #000000;
      }
    }
    h3 {
      font-family: "Gilroy-SemiBold";
      font-size: 16px;
      color: #4b5b57;
      line-height: 16px;
      margin: 0;
    }
    p {
      font-family: "Gilroy-SemiBold";
      font-size: 14px;
      color: #a8b5b1;
      line-height: 24px;
      margin: 0;
      @media only screen and (max-width: 990px) {
        font-size: 15px;
        padding-left: 55px;
      }
    }
    .logout {
      // font-family: "Gilroy-SemiBold";
      // font-size: 16px;
      // color: #a8c0ba;
      // line-height: 24px;
      // margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      height: 41px;
      margin-top: 15px;
      &::before {
        content: url("/images/power-off.png");
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
