.copyright{
    border-top: 1px solid #2D2D2D;
    background: #1D1D1D;
    padding: 10px 0;
    .footer_right{
        p{
       font-weight: 600;
       font-size: 15px;
       line-height: 18px;
       font-family: 'Gilroy-SemiBold'; 
       color: #EBEBF5;
       padding: 30px 0;
       color: rgba(235, 235, 245, 0.6);
       margin-bottom: 0px;
       @media only screen and (max-width:990px) {
       
        padding: 17px 0;
       } 
       @media only screen and (max-width:767px) {
        padding: 10px 0;
        text-align: center;
       } 
      
        }
    }
    .left{
       padding: 25px 0;
       @media only screen and (max-width:990px) {
        text-align: center;
        padding: 12px 0;
       } 
      
       .privacy{
           margin-right: 25px;
           font-weight: 600;
           font-size: 15px;
           line-height: 18px;
           font-family: 'Gilroy-SemiBold'; 
           color: #EBEBF5;
           padding: 30px 0; 
           color: rgba(235, 235, 245, 0.6);
           margin-bottom: 0px;
           text-decoration: none;
           @media only screen and (max-width:990px) {
               margin: 0 15px 0 0;
           } 
        //    @media only screen and (max-width:990px) {
        //     padding: 17px 0;
        //    }
       }
       .terms{
        margin: 0 50px 0 0;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        font-family: 'Gilroy-SemiBold'; 
        color: #EBEBF5;
        padding: 30px 0; 
        color: rgba(235, 235, 245, 0.6);
        margin-bottom: 0px;
        text-decoration: none;
        @media only screen and (max-width:990px) {
            margin: 0 15px 0 0;
        } 
        // @media only screen and (max-width:990px) {
        //     padding: 17px 0;
        //    }
    }
        
    }
   
   }
