.footer {
  background: #1d1d1d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 50px 0px;
  .footer_row {
    display: flex;
    flex-wrap: wrap;
    //  align-items: center;
    justify-content: space-between;
    .footer_section {
      width: 28%;
      @media only screen and (max-width: 1200px) {
        width: 26%;
      }
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
      h5 {
        color: #ffffff;
        font-size: 30px;
        font-family: "Gilroy-ExtraBold";
        font-weight: 800;
        @media only screen and (max-width: 990px) {
          font-size: 21px !important;
        }
      }
      p {
        font-size: 15px;
        line-height: 25px;
        color: #ffffff;
        font-family: "Gilroy-SemiBold";
      }
    }
    .col_6 {
      @media only screen and (max-width: 1200px) {
        width: 25%;
      }
      @media only screen and (max-width: 767px) {
        width: 50%;
      }
      h5 {
        color: rgba(235, 235, 245, 0.6);
        font-size: 14px;
        @media only screen and (min-width: 991px) {
          font-size: 16px;
        }
      }
      .footer_menu {
        padding-left: 0px;
        .menu_item {
          list-style: none;
          a {
            font-family: "Gilroy-SemiBold";
            font-size: 13px;
            color: #fff;
            text-decoration: none;
            &:hover {
              color: #00c174;
            }
          }
        }
      }
    }
  }
  // .social_row {
  //     display: flex;
  //     align-items: center;
  //     justify-content: flex-end;
  //     margin-top: 20px;
  //     @media only screen and (max-width:767px) {
  //         justify-content: center;
  //     }
  //     .icons {
  //         display: flex;
  //         align-items: center;
  //         justify-content: space-between;
  //         width: 100%;
  //         max-width: 130px;
  //         .social {
  //             width: 20px;
  //             height: 20px;
  //             &.ln {
  //                 background: url("../public/images/social1.png");
  //             }
  //             &.ytb {
  //                 background: url("../public/images/social1.png") 33% 0%;
  //             }
  //             &.tw {
  //                 background: url("../public/images/social1.png") 67% 0%;
  //             }
  //             &.insta {
  //                 background: url("../public/images/social1.png") 101% 0%;
  //             }
  //         }
  //     }
  // }
}
