@font-face {
  font-family: "Gilroy-Bold";
  src: url("../public/fonts/Gilroy-Bold.eot");
  src: url("../public/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../public/fonts/Gilroy-Bold.woff") format("woff"),
    url("../public/fonts/Gilroy-Bold.ttf") format("truetype"),
    url("../public/fonts/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../public/fonts/Gilroy-SemiBold.eot");
  src: url("../public/fonts/Gilroy-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Gilroy-SemiBold.woff2") format("woff2"),
    url("../public/fonts/Gilroy-SemiBold.woff") format("woff"),
    url("../public/fonts/Gilroy-SemiBold.ttf") format("truetype"),
    url("../public/fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../public/fonts/Gilroy-Light.eot");
  src: url("../public/fonts/Gilroy-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Gilroy-Light.woff2") format("woff2"),
    url("../public/fonts/Gilroy-Light.woff") format("woff"),
    url("../public/fonts/Gilroy-Light.ttf") format("truetype"),
    url("../public/fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../public/fonts/Gilroy-ExtraBold.eot");
  src: url("../public/fonts/Gilroy-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../public/fonts/Gilroy-ExtraBold.woff") format("woff"),
    url("../public/fonts/Gilroy-ExtraBold.ttf") format("truetype"),
    url("../public/fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../public/fonts/Gilroy-Medium.eot");
  src: url("../public/fonts/Gilroy-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../public/fonts/Gilroy-Medium.woff") format("woff"),
    url("../public/fonts/Gilroy-Medium.ttf") format("truetype"),
    url("../public/fonts/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../public/fonts/Gilroy-Regular.eot");
  src: url("../public/fonts/Gilroy-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../public/fonts/Gilroy-Regular.woff") format("woff"),
    url("../public/fonts/Gilroy-Regular.ttf") format("truetype"),
    url("../public/fonts/Gilroy-Regular.svg#Gilroy-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans-Bold";
  src: url("../public/fonts/DMSans-Bold.eot");
  src: url("../public/fonts/DMSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/DMSans-Bold.woff2") format("woff2"),
    url("../public/fonts/DMSans-Bold.woff") format("woff"),
    url("../public/fonts/DMSans-Bold.ttf") format("truetype"),
    url("../public/fonts/DMSans-Bold.svg#DMSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.container {
  width: 100%;
  @media only screen and (min-width: 1366px) {
    max-width: 1170px;
  }
  @media only screen and (max-width: 767px) {
    padding: 0px 25px !important;
  }
  .hide {
    display: none;
  }
  h1 {
    font-family: "Gilroy-ExtraBold";
    font-size: 30px;
    line-height: 40px;
    @media only screen and (min-width: 991px) {
      font-size: 40px;
      line-height: 50px;
    }
    @media only screen and (min-width: 1366px) {
      font-size: 56px;
      line-height: 65px;
    }
  }

  h2 {
    font-family: "Gilroy-ExtraBold";
    font-size: 25px;
    line-height: 28px;
    color: #393939;
    @media only screen and (min-width: 991px) {
      font-size: 30px;
      line-height: 35px;
    }
    @media only screen and (min-width: 1366px) {
      font-size: 48px;
      line-height: 53px;
    }
  }

  h3 {
    font-family: "Gilroy-Bold";
    font-size: 25px;
    line-height: 28px;
    color: #393939;
    @media only screen and (min-width: 991px) {
      font-size: 30px;
      line-height: 35px;
    }
    @media only screen and (min-width: 1366px) {
      font-size: 40px;
      line-height: 44px;
    }
  }

  h5 {
    font-family: "Gilroy-SemiBold";
    font-size: 14px;
    line-height: 21px;
    @media only screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 23px;
    }
    @media only screen and (min-width: 991px) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  p {
    font-family: "Gilroy-SemiBold";
    font-size: 14px;
    line-height: 21px;
    @media only screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 23px;
    }
    @media only screen and (min-width: 991px) {
      font-size: 18px;
      line-height: 32px;
    }
  }
}

.lg_menu {
  @media only screen and (max-width: 991px) {
    display: none;
  }
}
.mobile_menu {
  @media only screen and (min-width: 991px) {
    display: none;
  }
}
.navbar {
  .nav-item {
    @media only screen and (min-width: 1400px) {
      padding-right: 30px;
    }
    @media only screen and (max-width: 1399px) {
      padding-left: 10px;
    }
  }
  .nav-link {
    font-family: "Gilroy-Bold";
    font-size: 14px;
    color: #000 !important;
    text-decoration: none !important;
    @media only screen and (min-width: 1400px) {
      font-size: 16px;
    }
    &:hover {
      color: #00c174 !important;
    }
  }
}
.fp_yellow_btn {
  width: 100%;
  max-width: max-content;
  height: 44px;
  border-radius: 25px;
  padding: 15px 30px;
  border: 1px solid #f6c851;
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  color: #fff !important;
  text-decoration: none;
  background: #f6c851;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: 0.7;
  }
}
.fp_green_btn {
  width: 100%;
  max-width: max-content;
  height: 56px;
  background: #00c174;
  border-radius: 4px;
  padding: 15px 30px;
  border: 1px solid #00c174;
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff !important;
  text-decoration: none !important;
  transition: 0.3s;
  line-height: 22px;
  &.header_btn {
    max-width: 153px;
    height: 48px;
  }
  &.banner_btn {
    @media only screen and (max-width: 567px) {
      max-width: 210px;
    }

    max-width: 233px;
  }
  @media only screen and (min-width: 1400px) {
    font-size: 16px;
  }
  &:hover {
    opacity: 0.5;
  }
}
.fp_content_block {
  padding: 100px 0px;
  @media only screen and (max-width: 990px) {
    padding: 20px 0px;
  }
  @media only screen and (min-width: 1024px) and (max-width: 1366px) {
    padding: 80px 0px;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    &.two {
      @media only screen and (max-width: 990px) {
        flex-direction: column-reverse;
      }
    }

    .col-md-8 {
      @media only screen and (max-width: 990px) {
        // width: 100%;
        margin-top: 0px;
      }
    }
    .col-md-6,
    .col-md-4 {
      @media only screen and (max-width: 990px) {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

a {
  cursor: pointer;
}
/*burgermenu*/
.mobile-main {
  display: contents;
  width: 100%;
  @media only screen and (min-width: 1091px) {
    display: none;
  }

  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
  box-shadow: 10px 2px 14px 10px rgba(17, 15, 15, 0.06);
  .device-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item-logo {
      padding: 0;
      .logoImg {
        width: 230px;
        @media only screen and (max-width: 330px) {
          width: 200px;
        }
      }
    }
    .item-burger {
      .menu-burger {
        width: 30px;
        cursor: pointer;
        span {
          display: block;
          background: #000;
          height: 5px;
          border-radius: 10px;
          &.middle {
            margin: 5px 0;
          }
        }
      }
    }
  }
  /* The sidebar menu */
  #mySidebar {
    max-width: 100%;
    display: flex;
    align-items: center;

    flex-direction: column;
    z-index: 9999;
    @media only screen and (max-width: 990px) {
      padding: 19% 0;
    }
    .navbar-nav {
      margin-right: auto;
      text-align: left;
      padding-left: 40px;
      li {
        &.active {
          a {
            color: #00c174;
          }
        }
      }
    }
  }
  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    background-color: #166244;
    opacity: 0.96;
    a {
      padding: 12px;
      text-decoration: none;
      font-size: 14px;
      color: #fff;
      display: block;
      transition: 0.3s;
      font-family: "Gilroy-SemiBold";
      &:hover {
        color: #f1f1f1;
      }
    }
    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
}
/*dashboard burger menu*/
.mobile-main-dashboard {
  display: contents;
  width: 100%;
  padding: 30px 20px;
  @media only screen and (min-width: 1091px) {
    display: none;
  }

  transition: margin-left 0.5s; /* If you want a transition effect */
  box-shadow: 10px 2px 14px 10px rgba(17, 15, 15, 0.06);
  .container {
    max-width: 100%;
  }
  .device-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0px;
    flex-direction: row-reverse;
    .logo {
      display: flex;
    }
    .item-logo {
      padding: 0;

      .logoImg {
        width: 230px;
        @media only screen and (max-width: 330px) {
          width: 200px;
        }
      }
    }
    .item-burger {
      margin-right: 20px;
      .menu-burger {
        width: 30px;
        cursor: pointer;
        span {
          display: block;
          background: #000;
          height: 5px;
          border-radius: 10px;
          &.middle {
            margin: 5px 0;
          }
        }
      }
    }
  }
  /* The sidebar menu */
  #mySidebar {
    max-width: 100%;
    display: flex;
    align-items: center;

    flex-direction: column;
    z-index: 9999;
    @media only screen and (max-width: 990px) {
      padding: 19% 0;
    }
    .navbar-nav {
      margin: 0 auto;
      text-align: center;
      li {
        &.active {
          a {
            color: #00c174;
          }
        }
      }
    }
  }
  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    background-color: #000;
    opacity: 0.9;
    a {
      position: relative;
      padding: 5px;
      text-decoration: none;
      font-size: 16px;
      color: #fff;
      display: block;
      transition: 0.3s;
      font-family: "Gilroy-SemiBold";
      &:hover {
        color: #f1f1f1;
      }
    }
    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
}

/*This for princing page input range picker*/
.rs-slider-progress-bar {
  background-color: #ceebdd !important;
  height: 7px;
}
.rs-slider-graduator {
  li {
    .rs-slider-mark-content {
      font-family: "Gilroy-Medium";
      color: #000;
      font-size: 13px;
    }
    &::before {
      content: "|" !important;
      color: #ceebdd !important;
      border: none !important;
      width: 0px;
      height: 0px;
      top: -8px !important;
    }
    &:last-child {
      &::after {
        content: "" !important;
        border: none !important;
        width: 0px;
        height: 0px;
        top: -8px !important;
      }
    }
    &:first-child {
      &::before {
        content: "" !important;
        border: none !important;
        width: 0px;
        height: 0px;
        top: -8px !important;
      }
    }
  }
}
.rs-tooltip {
  background-color: #f6c851 !important;
  border-radius: 25px;
  width: 77px;
  height: 29px;
  color: #000 !important;
  font-family: "Gilroy-Medium";
  font-size: 14px !important;
  &::after {
    border-top-color: #f6c851 !important ;
  }
}
.__react_component_tooltip {
  width: 100% !important;
  max-width: 248px !important;
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;
}
.green-sucess {
  border-radius: 20px;
  font-family: "Gilroy-Medium";
  font-size: 13px;
  color: #00c174 !important;
  font-weight: "normal";
  min-height: 23px;
  display: flex;
  //padding: 2px 10px 2px 13px;
  align-items: center;
  width: 100%;
  max-width: 440px;
  margin: 5px 0;
}
/*validation error*/
.red-validate-error {
  // background: #f63b3b ;
  border-radius: 20px;
  font-family: "Gilroy-Medium";
  font-size: 13px;
  color: #f63b3b !important;
  font-weight: "normal";
  min-height: 23px;
  display: flex;
  //padding: 2px 10px 2px 13px;
  align-items: center;
  width: 100%;
  max-width: 440px;
  margin: 5px 0;
  label {
    color: #f63b3b !important;
    text-align: left;
  }
  // &:before {
  //   content: url("/images/warning.png");
  //   width: 12px;
  //   height: 12px;
  //   margin-right: 6px;
  //   margin-top: -4px;
  // }
}

.response_container {
  text-align: center;
  color: #f63b3b;
  padding-bottom: 20px;
  .sucsess {
    color: #00c174;
    font-family: "Gilroy-Medium";
    font-size: 16px;
    a {
      color: #000000;
      border-bottom: 2px solid #00c174;
      text-decoration: none;
      font-family: "Gilroy-Medium";
      font-size: 16px;
      &:hover {
        color: #00c174;
      }
    }
  }
  .error {
    color: #f63b3b;
    font-family: "Gilroy-Medium";
    font-size: 14px;
  }
  .error-bordered {
    // background: #fff0f0;
    // padding: 13px 0px;
    // border-radius: 4px;
    // border: 1px solid #F00;
    color: #f63b3b;
    font-family: "Gilroy-Medium";
    font-size: 18px;
  }
}

.spinner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin: 10px 0 100px;
  span {
    font-family: "Gilroy-Regular";
  }
}

.dashboard_burger_menu {
  width: 100%;

  .logo {
    justify-content: space-evenly !important;
    padding-left: 50px !important;
    @media (max-width: 400px) {
      padding-left: 30px !important;
    }
    align-items: center;
    .white-btn {
      width: 70px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 350px) {
        width: 60px;
        box-shadow: 4px 4px #000 !important;
      }
      &:hover {
        background: #00c174;
        text-decoration: none;
        color: #000;
      }
    }
  }
  .sidebar {
    .menus {
      @media only screen and (max-width: 767px) {
        height: auto !important;
      }
    }
    .account {
      .title {
        @media only screen and (max-width: 767px) {
          padding-left: 22px !important;
          justify-content: flex-start !important;
        }
      }
    }
  }
  /* Individual item */
  .bm-item {
    display: inline-block;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
  }

  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }

  /* The rest copied directly from react-burger-menu docs */

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 15px;
    top: 20px;
    @media (max-width: 400px) {
      width: 28px;
      height: 25px;
      left: 8px;
      top: 24px;
    }
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
    height: 15% !important;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #f8f8f8;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
.tick {
  color: #00c174 !important;
}
/* Services */
.services-testimony {
  .carousel {
    &.carousel-slider {
      padding: 60px 0 !important;
      @media only screen and (max-width: 767px) {
        padding: 0px 0px 60px 0 !important;
      }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 0px 0px 60px 0 !important;
      }
      .control-dots {
        left: 0;
        max-width: max-content;

        @media only screen and (max-width: 990px) {
          max-width: none;
        }
        li {
          background: #00c174;
          height: 13px;
          width: 13px;
          margin: 0px 10px 0 0;
        }
      }
    }
  }
}
.service_top {
  .row {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    &.first {
      //  @media only screen and (min-width: 768px) and(max-width:1024px) {
      //          width: 100%;
      // }
      // @media only screen and (min-width: 995px)and (max-width: 1198px) {
      //   display: flex;
      // }
      @media only screen and (max-width: 1024px) {
        flex-direction: column-reverse;
      }

      // @media only screen and (min-width: 1024px) and (max-width: 1025px) {
      //   flex-direction: column-reverse;
      // }
    }
  }
  .service_one {
    &.center{
      align-items: center;
      justify-content: end;
      display: flex;
    }
    
    @media only screen and (min-width: 768px) and(max-width:1024px) {
      width: 60% !important;
      margin: 0px auto;
    }
    @media only screen and(max-width:1024px) {
      margin: 30px auto;
    }
    img {
      float: right;
    }
  }
}
.services_last {
  .row {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    &.last {
      // @media only screen and (min-width: 768px) and(max-width:1024px) {
      //   width: 100%;
      // }
      // @media only screen and (min-width: 995px)and (max-width: 1198px) {
      //   display: flex;;
      // }
      @media only screen and (max-width: 1024px) {
        flex-direction: column-reverse;
      }
      // @media only screen and (min-width: 991px) {
      //   flex-direction: column-reverse;
      // }
      // @media only screen and (min-width: 1024px) and (max-width: 1365px) {
      //   flex-direction: column-reverse;
      // }
      // @media only screen and (min-width: 1024px) and (max-width: 1365px) {
      //   flex-direction: column-reverse;
      // }
    }
  }
  .service_three {
    &.center{
      align-items: center;
      justify-content: end;
      display: flex;
    }
    @media only screen and (min-width: 768px) and(max-width:1024px) {
      width: 60% !important;
      margin: 0px auto;
    }
    @media only screen and(max-width:1024px) {
      margin: 30px auto;
    }
    img {
      float: right;
    }
  }
}
.services_bottom {
  .bottom_service {
    .service_two {
      &.center{
        align-items: center;
        justify-content: start;
        display: flex;
      }
      @media only screen and (min-width: 768px) and(max-width:1024px) {
        width: 60% !important;
        margin: 0px auto;
      }
      @media only screen and(max-width:1024px) {
        margin: 30px auto;
      }
    }
  }
}
.testimony {
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    &.testim {
      @media only screen and (max-width: 990px) {
        flex-direction: column-reverse;
      }
    }
    .col-md-3 {
      padding-right: 30px !important;

      @media only screen and (max-width: 767px) {
        min-width: 65% !important;
        max-width: 65% !important;
        min-height: 65% !important;
        max-height: 65% !important;
      }

      @media only screen and (max-width: 990px) {
        padding-right: 15px !important;
      }
    }
  }
}
/* register form */
.form_register {
  .register {
    margin-bottom: 30px !important;
  }
}
.marquee-container {
  .overlay {
    &::before {
      @media only screen and (max-width: 767px) {
        background: none !important;
      }
    }
    &::after {
      @media only screen and (max-width: 767px) {
        background: none !important;
      }
    }
  }
}
/* home portfolio contact*/
.portfolio_contact {
  @media only screen and (max-width: 567px) {
    max-width: 200px;
    text-align: center;
    padding: 15px 10px !important;
  }
}
/* our portfolio */
.portfolio_get {
  @media only screen and (max-width: 767px) {
    max-width: 250px !important;
    margin: 0 auto;
  }
}
/* settings middle */
.btns {
  @media only screen and (max-width: 999px) {
    text-align: center;
    margin: 0 auto;
  }
}
/* payment card */
.payment_card {
  @media only screen and (max-width: 990px) {
    width: 100% !important;
  }
}

.common_next_img_updated {
  max-width: 100%;
  height: auto;
}
/* brochure website */
.service_top {
  .brochure_sectionone {
    display: flex;
    align-items: center;
    ul {
      li {
        @media only screen and (min-width: 1200px) {
          padding: 32px 0px 32px 21px !important;
        }
      }
    }
  }
}
.services_last {
  .brochure_sectionlast {
    display: flex;
    align-items: center;
  }
}
.preload-layout {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  background-color: #fff;
  z-index: 999;
  justify-content: center;
  align-items: center;
}
