.header {
  height: auto;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f0f0f0;
  flex-direction: column;
  .header_content {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      cursor: pointer;
    }
    .lg_menu {
      @media only screen and (max-width: 991px) {
        display: none;
      }
      .navbar {
        .nav-item {
          @media only screen and (min-width: 990px) {
            padding-right: 30px;
          }
        }
        .nav-link {
          font-family: "Gilroy-SemiBold";
          font-size: 14px;
          color: #000 !important;
          text-decoration: none !important;
          @media only screen and (min-width: 991px) {
            font-size: 16px;
          }
          &:hover {
            color: #00c174 !important;
          }
        }
      }
    }
    .mobile_menu {
      @media only screen and (min-width: 991px) {
        display: none;
      }
    }
    .nav_right {
      a {
        text-decoration: none;
      }
      .sign_link {
        padding: 0px 20px;
        font-family: "Gilroy-SemiBold";
        font-size: 14px;
        color: #000 !important;
        text-decoration: none !important;
        @media only screen and (min-width: 1400px) {
          font-size: 16px;
        }
        &:hover {
          color: #00c174 !important;
        }
      }
    }
  }
  .dropdown {
    position: relative;
    // &:hover {
    //     content: url("../public/images/dropdown-menu-green.png");
    // }
    &::after {
      content: url("../public/images/dropdown-menu.png");
      width: 10px;
      height: 5px;
      position: absolute;
      right: -8px;
      top: 6px;
    }
  }
  .dropdown_white {
    position: relative;
    &::after {
      content: url("../public/images/dropdown-white.png");
      width: 10px;
      height: 5px;
      position: absolute;
      right: -8px;
      top: 11px;
    }
  }
  .dropdown_container {
    background: #fff;
    z-index: 9;
    width: 100%;
    box-shadow: -1px 0px 19px rgb(0 0 0 / 10%);
    &.show_top_arrow {
      &::after {
        content: url("../public/images/up-arrow.png");
        width: 16px;
        height: 16px;
        position: absolute;
        top: -15px;
        left: 30px;
      }
    }
    .dropdown_head {
      background: #f8f8f8;
      padding: 20px 0px;
      font-family: "Gilroy-SemiBold";
      font-size: 28px;
      color: #224e42 !important;
      border: 1px solid #dfe7e6;
    }
    .dropdown_section {
      display: flex;
      .dropdown_col {
        background: #fff;
        border-right: 1px solid #dfe7e6;
        padding: 35px 37px 35px 15px;
        &.first {
          padding: 35px 37px 35px 0px;
        }
        &.last {
          border: none !important;
        }
        h5 {
          font-family: "Gilroy-SemiBold";
          font-size: 18px;
          color: #393939 !important;
          line-height: 22px;
        }
        ul {
          padding-left: 0px;
          margin-top: 25px;
          li {
            padding: 7px 0px;
            list-style: none;
            a {
              font-family: "Gilroy-Medium";
              font-size: 14px;
              color: #717876;
              line-height: 14px;
              text-decoration: none;
              &:hover {
                color: #00c174;
              }
            }
          }
        }
      }
    }
  }
  .dropdown_list {
    position: absolute;
    z-index: 9;
    display: flex;
    width: 500px;
    &.dropdown_full {
      width: 890px;
    }
    ul {
      padding: 20px;
      @media only screen and (min-width: 1400px) {
        padding: 30px;
      }
      li {
        list-style: none;
        margin-bottom: 5px;
        padding: 10px 5px;
        position: relative;
        display: flex;
        align-items: center;
        &:hover {
          background: #f8f8f8;
          .has_child {
            &::after {
              content: url("../public/images/subdrop-down.png");
              width: 7px;
              height: 14px;
              position: absolute;
              right: 12px;
            }
          }
        }
        .has_child {
          &::after {
            content: url("../public/images/subdropdown-black.png");
            width: 7px;
            height: 14px;
            position: absolute;
            right: 12px;
          }
        }
        @media only screen and (min-width: 1400px) {
          padding: 15px 15px;
        }

        a {
          font-family: "Gilroy-SemiBold";
          font-size: 14px;
          color: #393939;
          line-height: 20px;
          text-decoration: none;
          display: flex;
          align-items: center;
          &:hover {
            color: #00c174;
          }
          @media only screen and (min-width: 1400px) {
            font-size: 16px;
          }
        }
      }
    }
    

    .dropdown_sub {
      background: #f8f8f8;
      ul {
       
        li {
          a {
            color: #717876;
            display: flex;
            align-items: center;
          }
          &:hover {
            background: #ffff;
            &.has_child {
              &::after {
                content: url("../public/images/subdrop-down.png");
                width: 7px;
                height: 14px;
                position: absolute;
                right: 12px;
              }
            }
          }
          &.has_child {
            &::after {
              content: url("../public/images/subdropdown-black.png");
              width: 7px;
              height: 14px;
              position: absolute;
              right: 12px;
            }
          }
        }
      }
    }
  }
  .dropdown_list_mob {
    .dropdown_first {
      li {
        position: relative;
        // display: flex;
        align-items: center;
        //justify-content: center;
        a{
          &::after {
            content: url("../public/images/subdrop-white.png");
            // width: 7px;
            // height: 14px;
            position: absolute;
            right: 3px;
            top: 14px;
          }
        }
      }
      
    }
    ul {
      padding-left: 5px;
      li {
        list-style: none;
       
      }
    }
  }
}
