.banner_section {
  width: 100%;
  max-width: 940px;
  min-height: 625px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 1024px) {
    min-height: auto;
    padding: 100px 0px;
  }
  @media only screen and (max-width: 990px) {
    padding: 30px 0px;
  }
  h5 {
    text-align: center;
    color: #393939;
    max-width: 818px;
  }
  h1 {
    text-align: center;
    color: #393939;
    margin-bottom: 20px;
  }
  .banner_form {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 818px;
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .form_group {
      width: 100%;
      position: relative;
      height: 57px;
      @media only screen and (max-width: 990px) {
        height: auto;
      }
      @media only screen and (max-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
      }
      @media only screen and (max-width: 990px) {
        display: flex;
        flex-direction: column;
      }
      .form_control {
        width: 100%;
        max-width: 279px;
        height: 56px;
        padding: 0px 20px;
        background: #ffffff;
        border: 1px solid #bdbdbd;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: "Gilroy-SemiBold";
        font-size: 15px;
        line-height: 25px;
        color: #393939 !important;
        @media only screen and (max-width: 1024px) {
          max-width: 80%;
          text-align: center;
        }
        &::placeholder {
          font-family: "Gilroy-SemiBold";
          font-size: 15px;
          line-height: 25px;
          color: #adadad !important;
        }
      }
      .form_validate {
        @media only screen and (max-width: 990px) {
          max-width: 378px;
        }
      }
    }
  }
}

.client_logo_section {
  min-height: 276px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 1024px) {
    min-height: auto;
    padding: 90px 0px;
  }
  @media only screen and (max-width: 990px) {
    padding: 30px 0px;
  }
  h3 {
    text-align: center;
    color: #393939;
    @media only screen and (min-width: 1366px) {
      font-size: 40px;
    }
  }
  .client_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3 {
      max-width: 900px;
      line-height: 30px;
      @media only screen and (min-width: 991px) {
        line-height: 50px;
      }
    }
    .logos {
      width: 100%;
      margin-top: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media only screen and (max-width: 990px) {
        flex-direction: column;
        img {
          margin-bottom: 15px !important;
        }
      }
    }
  }
}

.alternate_section {
  @media only screen and (max-width: 990px) {
    text-align: center;
  }
  a {
    margin-top: 30px;
    display: block;
    @media only screen and (max-width: 990px) {
      margin: 0 auto;
      display: block;
    }
  }
  h3 {
    margin-bottom: 20px;
    @media only screen and (max-width: 990px) {
      margin-top: 20px;
    }
  }
  p {
    color: #717876;
  }
  ul {
    padding-left: 0px;
    @media only screen and (min-width: 768px) {
      margin-top: 20px;
    }
    @media only screen and (max-width: 567px) {
      margin-top: 20px;
    }
    li {
      font-family: "Gilroy-SemiBold";
      font-size: 14px;
      line-height: 21px;
      display: flex;

      margin-bottom: 10px;
      color: #717876;
      text-align: left;
      @media only screen and (max-width: 767px) {
        align-items: center;
      }
      @media only screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 23px;
        display: flex;
        // align-items: center;
        margin-bottom: 10px;
        color: #717876;
        text-align: left;
      }
      @media only screen and (min-width: 991px) {
        font-size: 18px;
        line-height: 32px;
      }
      list-style: none;
      &:before {
        content: url("../public/images/li-check.png");
        width: 33px;
        height: 33px;
        margin-right: 10px;
      }
    }
  }
  .col_8 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media only screen and (max-width: 990px) {
      margin-top: 40px;
    }
  }
  .fp_call_in {
    @media only screen and (min-width: 991px) {
      max-width: 72%;
    }
  }
  .col_6 {
    @media only screen and (max-width: 767px) {
      width: 300px;
      margin-top: 20px;
    }
  }
}

.icon_box_section {
  padding: 50px 0px;
  @media only screen and (max-width: 990px) {
    text-align: center;
  }
  @media only screen and (max-width: 767px) {
    padding: 20px 0px 0px;
  }
  h2 {
    @media only screen and (max-width: 767px) {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .icon_box_row {
    padding: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0px;
    .col_4 {
      width: 100%;
      max-width: 100%;
      @media only screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
      @media only screen and (min-width: 768px) {
        max-width: 50%;
        padding: 30px 0px;
      }
      @media only screen and (min-width: 991px) {
        max-width: 26%;
        margin: 30px 0px;
      }
      h4 {
        font-family: "DMSans-Bold";
        font-size: 20px;
        line-height: 30px;
        color: #2d3134;
        margin-bottom: 0px;
        @media only screen and (min-width: 768px) {
          font-size: 22px;
          line-height: 47px;
        }
      }
      p {
        color: #717876;
        font-size: 17px;
        line-height: 25px;
      }
    }
  }
}

.our_portfolio_section {
  width: 100%;
  padding: 50px 10px;
  @media only screen and (max-width: 567px) {
    padding: 20px 10px;
  }
  h2 {
    @media only screen and (min-width: 768px) {
      margin: 35px 0 20px 0;
    }
    @media only screen and (max-width: 990px) {
      text-align: center;
    }
  }
  .portfolio_mobile {
    @media only screen and (min-width: 768px) {
      display: none;
    }
    max-width: 500px;
    margin: 25px auto 0;
    padding: 0 10px;
  }
  .portfolio_box_row {
    @media only screen and (max-width: 767px) {
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .col_3 {
      width: 100%;
      display: block;
      transition: 1s;
      @media only screen and (max-width: 990px) {
        margin-bottom: 10px;
      }
      &:hover {
        transform: scale(1.07);
        z-index: 2;
      }
      @media only screen and (min-width: 768px) {
        max-width: 50%;
      }
      @media only screen and (min-width: 991px) {
        max-width: 19.5%;
      }
      @media only screen and (min-width: 768px) and (max-width: 990px) {
        padding: 0 10px;
      }
      @media only screen and (min-width: 500px) and (max-width: 767px) {
        padding: 0 15%;
      }
    }
  }
  .portfolio_btn {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 567px) {
      display: flex;
      flex-direction: column;
    }
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    a {
      margin: 30px 10px 0px 10px;
      display: block;
      @media only screen and (max-width: 567px) {
        margin: 20px 10px 0;
        padding: 15px 20px;
      }
    }
  }
}

.testimonial_section {
  background: #f8f8f8;
  padding: 50px 0px;
  h2 {
    @media only screen and (min-width: 1366px) {
      font-size: 39px;
    }
    @media only screen and (max-width: 990px) {
      text-align: center;
    }
    margin-bottom: 20px;
    @media only screen and (max-width: 767px) {
      text-align: center;
    }
  }
  .marquee-container {
    flex-direction: column !important;
    .overlay {
      &::before {
        @media only screen and (max-width: 767px) {
          background: none !important;
        }
      }
      &::after {
        @media only screen and (max-width: 767px) {
          background: none !important;
        }
      }
    }
  }
  .testimonial_box_row {
    display: flex;
    .col_3 {
      width: 100%;
      max-width: 360px;
      margin: 20px 10px;
      padding: 30px;
      background: #fff;
      border: 1px solid #dbdbdb;
      border-radius: 10px;
      .top_row {
        display: flex;
        .user_img {
          border-radius: 50%;
        }
        .testimonial_rating {
          display: flex;
          flex-direction: column;
          padding-left: 10px;
          width: 80%;
          .rating_star {
            width: 100%;
            display: flex;
            align-items: center;
            .full {
              &::before {
                content: url("../public/images/star.png");
                width: 14px;
                height: 13px;
                padding-right: 3px;
              }
            }
            span {
              color: #00c174;
              font-size: 15px;
              font-family: "Gilroy-Regular";
            }
          }
        }
      }
      .bottom_row {
        p {
          margin-top: 20px;
          font-family: "Gilroy-SemiBold";
          color: #717876;
          @media only screen and (min-width: 768px) {
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
    }
  }
  a {
    margin-top: 40px;
    display: block;
    margin: 25px auto 0px;
  }
}

/*************animation code**********/
.animate_block {
  display: none;
}
.alternate_section {
  &:hover {
    .animate_block {
      display: block;
      .gif_animate_top {
        position: absolute;
        top: 4%;
        left: 35%;
        animation-iteration-count: 1;
        animation: shake 0.5s;
      }
      .gif_animate_bottom {
        position: absolute;
        bottom: 5%;
        left: 0%;
        animation-iteration-count: 1;
        animation: shake 0.5s;
      }
      .gif_animate_bottom_sec2 {
        position: absolute;
        bottom: 5%;
        right: 0%;
        animation-iteration-count: 1;
        animation: shake 0.5s;
      }
      .gif_animate_bottom_sec4 {
        position: absolute;
        top: 5%;
        right: auto;
        left: auto;
        animation-iteration-count: 1;
        animation: shake 0.5s;
      }
      .gif_animate_bottom_sec4 {
        position: absolute;
        top: 3%;
        right: 17%;
        left: 17%;
        animation-iteration-count: 1;
        animation: shake 0.5s;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .animate_block {
      display: block;
      .gif_animate_top {
        position: absolute;
        top: 4%;
        left: 35%;
        animation-iteration-count: 1;
        animation: shake 0.5s;
      }
      .gif_animate_bottom {
        position: absolute;
        bottom: 5%;
        left: 0%;
        animation-iteration-count: 1;
        animation: shake 0.5s;
      }
      .gif_animate_bottom_sec2 {
        position: absolute;
        bottom: 5%;
        right: 0%;
        animation-iteration-count: 1;
        animation: shake 0.5s;
      }
      .gif_animate_bottom_sec4 {
        position: absolute;
        top: 5%;
        right: auto;
        left: auto;
        animation-iteration-count: 1;
        animation: shake 0.5s;
      }
      .gif_animate_bottom_sec4 {
        position: absolute;
        top: 3%;
        right: 17%;
        left: 17%;
        animation-iteration-count: 1;
        animation: shake 0.5s;
      }
    }
  }
  .home_3_img {
    max-width: 100%;
    height: auto;
    max-height: 509px;
  }
}
.animate_section {
  position: relative;
}

@keyframes bounce-4 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
