.login_container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  @media only screen and (max-width: 767px) {
    text-align: center;
  }
  .col_6 {
    width: 100%;
    max-width: 100%;
    @media only screen and (min-width: 991px) {
      max-width: 50%;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 50px;
    cursor: pointer;
    h1 {
      font-family: "Gilroy-ExtraBold";
      font-size: 25px;
      line-height: 28px;
      color: #393939;
      text-align: center;
      margin-bottom: 20px;
      @media only screen and (min-width: 991px) {
        font-size: 30px;
        line-height: 35px;
      }
      @media only screen and (min-width: 1366px) {
        font-size: 48px;
        line-height: 53px;
      }
      @media only screen and (max-width: 767px) {
        margin-top: 10px;
      }
    }
    p {
      font-family: "Gilroy-SemiBold";
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #393939;
      @media only screen and (min-width: 991px) {
        font-size: 16px;
        line-height: 25px;
      }
      a {
        color: #393939;
        text-decoration: none;
        border-bottom: 2px solid #00c174;
        &:hover {
          color: #00c174;
        }
      }
    }

    .form_container {
      width: 100%;
      max-width: 420px;
      margin: 0 auto;
      .form {
        .form_group {
          position: relative;
        }
        .password_show {
          position: absolute;
          width: 35px;
          height: 25px;
          font-family: "Gilroy-SemiBold";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 25px;
          color: #8e9895;
          right: 20px;
          .show_eye {
            &::before {
              content: url("/images/eyes.png");
              position: absolute;
              right: 41px;
              top: 38px;
            }
          }
          .hide_eye {
            &::before {
              content: url("/images/hide-eye.png");
              position: absolute;
              right: 41px;
              top: 40px;
            }
          }
          .show {
            position: relative;
            top: 37px;
          }
        }
        .form_control {
          width: 100%;
          max-width: 420px;
          height: 56px;
          padding: 0px 20px;
          background: #ffffff;
          border: 1px solid #bdbdbd;
          box-sizing: border-box;
          border-radius: 8px;
          font-family: "Gilroy-SemiBold";
          font-size: 15px;
          line-height: 25px;
          color: #393939 !important;
          margin-top: 20px;
          &::placeholder {
            font-family: "Gilroy-SemiBold";
            font-size: 15px;
            line-height: 25px;
            color: #adadad !important;
          }
        }
        .pass_validate {
          display: flex;
          flex-direction: row;
          margin-top: 26px;
          @media only screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
          }
          ul {
            padding-left: 0px;
            margin-bottom: 0px;
            @media only screen and (max-width: 767px) {
              margin-bottom: 0px;
            }
            li {
              line-height: 25px;
              font-size: 14px;
              font-family: "Gilroy-SemiBold";
              color: #8e9895;
              list-style-type: none;
              padding-right: 20px;
              @media only screen and (max-width: 767px) {
                font-size: 10px;
                text-align: left;
              }
              &::before {
                content: url("/images/ellipse.png");
                padding-right: 10px;
              }
            }
            .tick {
              color: #00c174 !important;
            }
          }
        }
        .checkBox {
          margin-top: 20px;
          display: flex;
          align-items: center;
          @media only screen and (max-width: 767px) {
            margin-bottom: 0px;
            margin-top: 12px;
          }
          .check_input {
            position: absolute;
            width: 26px;
            height: 26px;
            background: #ffffff;
            border: 2px solid #8e9895;
            box-sizing: border-box;
            border-radius: 3px;
            @media only screen and (max-width: 767px) {
              height: 22px;
              width: 22px;
            }
          }
          .container_checkbox {
            font-family: "Gilroy-SemiBold";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 25px;
            color: #393939;
            padding-left: 34px;
            @media only screen and (max-width: 767px) {
              font-size: 10px;
              line-height: 17px;
              text-align: left;
            }
          }
        }
        button {
          width: 100%;
          max-width: 420px;
          border-radius: 8px;
          margin-top: 20px;
        }
      }
      .info_btm {
        text-align: center;
        margin-top: 30px;
        a {
          color: #60b79f;
          font-family: "Gilroy-SemiBold";
          font-size: 14px;
          line-height: 25px;
          text-decoration: none;
          @media only screen and (min-width: 991px) {
            font-size: 16px;
            line-height: 25px;
          }
          &:hover {
            border-bottom: 2px solid #60b79f;
          }
        }
      }
    }
    .footer_container {
      text-align: center;
      margin-top: 10px;
      @media only screen and (max-width: 990px) {
        display: none;
      }
      p {
        font-family: "Gilroy-Medium";
        color: #8e9895;
        font-size: 14px;
        @media only screen and (min-width: 991px) {
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #00c174;
    padding: 50px 20px;
    .content {
      width: 100%;
      max-width: 455px;
      text-align: center;
      margin-top: 30px;
      h2 {
        font-family: "Gilroy-ExtraBold";
        font-size: 25px;
        line-height: 28px;
        color: #fff;
        margin-bottom: 20px;
        @media only screen and (min-width: 991px) {
          font-size: 28px;
          line-height: 30px;
        }
        @media only screen and (min-width: 1366px) {
          font-size: 32px;
          line-height: 35px;
        }
      }
      p {
        font-family: "Gilroy-SemiBold";
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #fff;
        @media only screen and (min-width: 991px) {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }
  .verify_now {
    color: #00c174 !important;
    display: block;
    width: 100%;
    max-width: 18%;
    margin: 0 auto;
    text-decoration: underline;
  }
}
.custom_modal {
  @media only screen and (max-width: 1024px) {
    display: flex !important;
    align-items: center;
  }
  .modal_content {
    padding: 8px 30px 80px;
    background: #f7fafc;
    border-radius: 5px;
    box-shadow: -1px 1px 6px 0px #00347a40;
    .modal_header {
      border: none;
      display: flex;
      align-items: flex-start;
      flex-direction: column-reverse;
      .modal_title {
        font-family: "Gilroy-ExtraBold";
        text-align: center;
        color: #393939;
        margin: 0 auto;
        padding-top: 50px;
      }
      button {
        color: #fff !important;
      }
    }
    .modal_body {
      p {
        font-family: "Gilroy-SemiBold";
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #393939;
        @media only screen and (min-width: 991px) {
          font-size: 16px;
          line-height: 25px;
        }
      }
      input {
        max-width: 100%;
        margin: 40px auto 0;
        height: 50px;
        padding-left: 30px;
        line-height: 24px;
        font-family: "Gilroy-SemiBold";
        border-radius: 8px;
        font-size: 14px;
        line-height: 21px;
        color: #393939;
        &:focus {
          box-shadow: none;
          border: 2px solid #000;
        }
        @media only screen and (min-width: 991px) {
          font-size: 16px;
        }
      }
    }
    .modal_footer {
      border: none;
      button {
        font-family: "Gilroy-SemiBold";
        font-size: 16px;
        color: #fff;
        font-weight: "normal";
        margin: 0 auto;
        border: 2px solid #00c174;
        border-radius: 0;
        height: 48px;
        width: 215px;
        line-height: 24px;
        background: #00c174;
        border-radius: 8px;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
