.service_newsletter {
  background-color: #161515;
  height: auto;
  min-height: 218px;
  padding: 50px 0;
  .col_9 {
    h5 {
      font-size: 23px;
      line-height: 23px;
      font-family: "Gilroy-SemiBold";
      color: #ffffff;
      font-weight: 600;
      @media only screen and (max-width: 990px) {
        font-size: 18px;
      }
    }
    p {
      font-family: "Gilroy-Medium";
      font-size: 15px;
      color: #ffffff;
      line-height: 25px;
      margin-top: 10px;
      @media only screen and (max-width: 990px) {
        font-size: 13px;
      }
    }
    .col_12 {
      @media only screen and (max-width: 990px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media only screen and (max-width: 567px) {
        flex-direction: column;
      }
      input {
        background: #1d1d1d;
        border: 1px solid #353535;
        box-sizing: border-box;
        border-radius: 8px;
        width: 100%;
        height: 55px;
        padding: 20px 24px;
        max-width: 527px;
        font-family: "Gilroy-SemiBold";
        font-size: 16px;
        line-height: 19px;
        color: #9c9ca3;
      }
      .news_btn {
        font-family: "Gilroy-SemiBold";
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        background: #00c174;
        border-radius: 4px;
        margin-left: 10px;
        padding: 17px 38px;

        text-align: center;
        text-decoration: none;
        border: none;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
        @media only screen and (max-width: 567px) {
          margin-top: 20px;
          margin-left: 0px;
        }
      }
    }
  }
  .col_3 {
    @media only screen and (max-width: 990px) {
      padding: 20px 10px;
    }
    h5 {
      font-size: 23px;
      line-height: 23px;
      font-family: "Gilroy-SemiBold";
      color: #ffffff;
      font-weight: 600;
      @media only screen and (max-width: 990px) {
        font-size: 16px;
      }
      @media only screen and (max-width: 767px) {
        text-align: center;
      }
    }
    .col_12 {
      @media only screen and (max-width: 767px) {
        align-items: center;
        justify-content: center;
      }
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      .news_google {
        padding-top: 2px;
        &::before {
          content: url("../public/images/google.png");
          // height: 21px;
          // width: 25px;
          margin-right: 15px;
        }
        &:hover {
          opacity: 0.7;
        }
      }
      .news_facebook {
        &::before {
          content: url("../public/images/fb.png");
          // height: 21px;
          // width: 25px;
          margin-right: 15px;
        }
        &:hover {
          opacity: 0.7;
        }
      }
      .news_insta {
        &:hover {
          opacity: 0.7;
        }

        &::before {
          content: url("../public/images/insta.png");
          // height: 26px;
          // width: 26px;
        }
      }
    }
  }
}
