#not_found{
    text-align: center;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: -webkit-linear-gradient(bottom,#00c174 60%,#fff 0);
    .oops_notfound{
        h1{
            font-family: "Gilroy-Bold";
            font-size: 220px;
            color: #000;
        }
        h3{
            font-family: "Gilroy-Bold";
            font-size: 24px;
            color: #000;
        }
        p{
            font-family: "Gilroy-SemiBold";
            max-width: 435px;
            margin: 20px auto 25px;
        }
        .fp_white_btn{
            font-family: "Gilroy-SemiBold";
            font-size: 16px;
            line-height: 19px;
            color: #00c174;
            background: #ffffff;
            border-radius: 4px;
            margin-left: 10px;
            padding: 17px 38px;
            text-align: center;
            text-decoration: none;
            border: none;
            cursor: pointer;
            display: block;
            max-width: max-content;
            margin: 0 auto;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}
