.add_card {
  padding-bottom: 50px;
  .card_form {
    max-width: 800px;
    margin: 0 auto;
    h3 {
      text-align: center;
    }
    label {
      font-family: "Gilroy-Medium";
      color: #2d3134;
      font-size: 16px;
      margin: 15px 0 5px;
      @media only screen and (min-width: 991px) {
        font-size: 20px;
      }
    }
    input {
      font-family: "Gilroy-Regular";
      color: #2d3134;
      font-size: 18px;
    }
    .card_input {
      border: 1px solid #ced4da;
      padding: 9px 12px;
      border-radius: 3px;
    }
    button {
      display: block;
      margin: 25px auto 0;
    }
  }
}

.saved_card {
  padding-bottom: 50px;
  .card_form {
    max-width: 800px;
    margin: 0 auto;
    h3 {
      text-align: center;
    }
    .saved_card_view {
      display: flex;
      max-width: 342px;
      height: 181px;
      flex-direction: column;
      min-height: 150px;
      padding: 12px;
      align-items: flex-start;
      justify-content: space-evenly;
      border: 1px solid #dddd;
      border-radius: 5px;
      background-image: linear-gradient(900deg, #ffda1b, #0b0b0a);
      margin: 0 auto;
      span {
        font-family: "Gilroy-Bold";
        color: #fff;
        font-size: 16px;
      }
    }
    label {
      font-family: "Gilroy-Medium";
      color: #2d3134;
      font-size: 16px;
      margin: 15px 0 5px;
      @media only screen and (min-width: 991px) {
        font-size: 20px;
      }
    }
    input {
      font-family: "Gilroy-Regular";
      color: #2d3134;
      font-size: 18px;
    }
    .card_input {
      border: 1px solid #ced4da;
      padding: 9px 12px;
      border-radius: 3px;
    }
    button {
      display: block;
      margin: 25px auto 0;
    }
  }
}

.thank_you {
  text-align: center;
  padding: 80px 0;
  h2 {
    color: #00c174;
  }
}
