.fp_payment_methods {
  display: flex;
  flex-direction: column;
  padding: 0px 0 50px;

  align-items: center;
  justify-content: center;
  width: 100%;
  @media only screen and (min-width: 768px) {
    max-width: 900px;
    margin: 0 auto;
    flex-direction: row;
    padding: 50px 0px;
  }

  .payment_method_box {
    width: 272px;
    display: flex;
    min-height: 174px;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0px;
    flex-direction: column;
    border: 2px solid #ebeaed;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 10px;
    @media only screen and (max-width: 990px) {
      margin-bottom: 10px;
    }
    &:hover,
    &.selected {
      border: 2px solid #00c174;
      filter: drop-shadow(0px 4px 6px #ace0db);
      .round_box {
        &::before {
          content: url("/images/payment_method_tick.png");
        }
      }
    }
    h5 {
      font-size: 18px;
      line-height: 27px;
      @media only screen and (min-width: 991px) {
        font-size: 20px;
        line-height: 37px;
      }
    }
    .round_box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #ebeaed;
      margin-bottom: 8px;
    }
  }
}

.fp_order_summary {
  h2 {
    @media only screen and (min-width: 991px) {
      font-size: 32px;
      line-height: 47px;
    }
    @media only screen and (max-width: 990px) {
      text-align: center;
    }
  }
  .summary_box {
    background-color: #f8f8f8;
    padding: 25px 35px;
    @media only screen and (max-width: 990px) {
      margin-top: 50px;
    }
    .summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f8f8f8;
      padding: 25px 35px;
      border-bottom: 1px solid #cfdcda;
      @media only screen and (max-width: 990px) {
        display: flex;
        flex-direction: column;
      }
      .left_to {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and(max-width: 767px) {
          flex-direction: column;
        }
        .plan_details {
          @media only screen and (min-width: 768px) {
            margin-left: 35px;
          }
          @media only screen and (min-width: 768px) {
            text-align: center;
          }
          h5 {
            font-weight: 700;
            @media only screen and (min-width: 991px) {
              font-size: 24px;
              line-height: 37px;
            }
            @media only screen and (max-width: 990px) {
              text-align: center;
            }
          }
          p {
            @media only screen and (max-width: 990px) {
              text-align: center;
            }
          }
        }
      }
      .right_to {
        .amount_details {
          .offer {
            color: #00c174;
            @media only screen and (min-width: 991px) {
              font-size: 28px;
            }
          }
          .orginal {
            color: #2d302e;
            @media only screen and (min-width: 991px) {
              font-size: 23px;
            }
          }
        }
      }
    }
    .order_form {
      display: flex;
      flex-wrap: wrap;
      padding: 25px 0px;
      border-bottom: 1px solid #cfdcda;
      @media only screen and (max-width: 990px) {
        padding: 25px 0;
      }
      .col_10 {
        flex: 0 0 85%;
        max-width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 1200px) {
          justify-content: space-between;
        }
        @media only screen and (max-width: 990px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
        @media only screen and (max-width: 767px) {
          flex-direction: column;
          width: 100%;
          max-width: 100%;
          flex: 0 0 100%;
        }
        .form_field {
          flex: 0 0 19%;
          max-width: 19%;

          @media only screen and (max-width: 767px) {
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            margin-bottom: 10px;
          }
          span {
            position: absolute;
          }
          .form_label {
            font-family: "Gilroy-Medium";
            color: #2d3134;
            font-size: 14px;
            @media only screen and (min-width: 991px) {
              font-size: 20px;
            }
          }
          input {
            max-width: 220px;
            @media only screen and (max-width: 990px) {
              width: 100%;
              max-width: 100%;
            }
          }
          .fields {
            border: 1px solid #e5eaea;
            padding: 5px;
            box-shadow: none;
            border-radius: 8px;
            height: 56px;
            font-family: "Gilroy-Medium";
            font-size: 15px;
            line-height: 25px;
            color: #393939 !important;
            padding: 0px 20px;
            &:focus {
              background-color: #fff !important;
            }
          }
        }
      }
      .col_2 {
        flex: 0 0 15%;
        max-width: 15%;
      }
    }
    .total_section {
      display: flex;
      justify-content: space-between;
      padding: 20px 35px 0px;
      .total_title {
        @media only screen and (min-width: 991px) {
          font-size: 23px;
        }
      }
      .total_amount {
        color: #00c174;
        @media only screen and (min-width: 991px) {
          font-size: 32px;
        }
      }
    }
  }
}
.account_creation {
  padding-bottom: 40px;
  @media only screen and (min-width: 991px) {
    margin-top: 45px;
  }
  .title {
    color: #2d3134;
    line-height: 48px;
    font-family: "Gilroy-Medium";
    @media only screen and (min-width: 991px) {
      font-size: 32px;
    }
  }
  .account_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form_field {
      position: relative;
      @media only screen and (min-width: 768px) {
        flex: 0 0 32%;
        max-width: 32%;
        display: flex;
        flex-direction: column;
      }
      @media only screen and (max-width: 767px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }
      .form_label {
        font-family: "Gilroy-Medium";
        color: #2d3134;
        font-size: 14px;
        @media only screen and (min-width: 991px) {
          font-size: 20px;
        }
      }
      .fields {
        border: 1px solid #e5eaea;
        padding: 5px;
        box-shadow: none;
        border-radius: 8px;
        height: 56px;
        font-family: "Gilroy-Medium";
        font-size: 15px;
        line-height: 25px;
        color: #393939 !important;
        padding: 0px 20px;
      }
    }
    .showpassgroup {
      position: relative;
      .fields {
        width: 100%;
      }
    }
    .password_show {
      position: absolute;
      cursor: pointer;
      width: 35px;
      height: 25px;
      font-family: "Gilroy-SemiBold";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 25px;
      color: #8e9895;
      right: 20px;
      top: 20px;
      .show_eye {
        &::before {
          content: url("/images/eyes.png");
          position: absolute;
          right: 41px;
        }
      }
      .hide_eye {
        &::before {
          content: url("/images/eyes-hide.png");
          position: absolute;
          right: 41px;
        }
      }
      .show {
        position: relative;
        cursor: pointer;
      }
    }
  }
  .account_info {
    max-width: 375px;
    padding-top: 15px;
    p {
      font-size: 15px;
      font-family: "Gilroy-Light" !important;
    }
  }
  .account_terms {
    p {
      line-height: 30px;
      max-width: 830px;
    }
    span {
      color: #00c174;
      cursor: pointer;
    }
  }
  .account_button {
    padding: 30px 0px 20px;
  }
}
.pass_validate {
  display: flex;
  flex-direction: row;
  margin-top: 26px;
  width: 100%;
  justify-content: center;
  @media only screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
  ul {
    padding-left: 0px;
    margin-bottom: 0px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 0px;
    }
    li {
      line-height: 25px;
      font-size: 14px;
      font-family: "Gilroy-SemiBold";
      color: #8e9895;
      list-style-type: none;
      padding-right: 20px;
      @media only screen and (max-width: 767px) {
        font-size: 10px;
        text-align: left;
      }
      &::before {
        content: url("/images/ellipse.png");
        padding-right: 10px;
      }
    }
    .tick {
      color: #00c174 !important;
    }
  }
}
