.custom_row {
  margin: auto !important;
  max-width: 1500px;
  @media only screen and (max-width: 767px) {
    max-width: 540px;
  }
}
.banner_section {
  width: 100%;
  max-width: 818px;
  min-height: 263px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media only screen and (max-width: 1024px) {
    min-height: auto;
    padding: 100px 0px;
  }
  @media only screen and (max-width: 990px) {
    padding: 30px 0px;
  }
  h5 {
    color: #717876;
  }
  h1 {
    color: #393939;
    margin-bottom: 20px;
    @media only screen and (min-width: 1366px) {
      font-size: 48px;
      line-height: 53px;
    }
  }
}
.categories_section {
  padding-left: 25px;
  @media only screen and(min-width: 1024px) {
    padding-left: 50px;
  }
  ul {
    padding: 32px 0px;
    list-style-type: none;
    li {
      a {
        list-style-type: none;
        font-family: "Gilroy-SemiBold";
        font-size: 18px;
        color: #717876;
        line-height: 41px;
        text-decoration: none;
        &:hover {
          color: #00c174;
        }
        &.active {
          color: #00c174;
        }
      }
    }
  }
  .category_left {
    display: flex;
    justify-content: space-between;

    h4 {
      font-family: "DMSans-Bold";
      color: #2d3134;
      font-size: 18px;
      font-weight: 700;
      @media only screen and(min-width: 1024px) {
        font-size: 20px;
      }
    }

    .switch_style {
      background: #00c174;
      svg {
        display: none;
      }
      .react-switch-bg {
        height: 25px;
        .react-switch-handle {
          height: 23px;
          width: 24px;
        }
      }
    }
  }
}
.image_section {
  padding-bottom: 70px;
  @media only screen and(max-width: 767px) {
    padding-bottom: 20px;
  }
  .image_list {
    margin: auto !important;
    .image_col {
      padding: 0px 15px 20px 0px;
      transition: 1s;
      &:hover {
        transform: scale(1.07);
        z-index: 2;
      }
      @media only screen and(max-width: 767px) {
        padding: 0px 0 20px 0px;
      }
      .image_wrap {
        .portfolio_image {
          max-width: 348px;
          height: auto;
          border: 1px #128758 solid;

          @media only screen and (min-width: 1200px) and (max-width: 1450px) {
            max-width: 280px;
          }
          @media only screen and (min-width: 768px) and (max-width: 990px) {
            max-width: 280px;
          }
          @media only screen and (max-width: 767px) {
            margin: 0 auto;
            display: block;
          }
          @media only screen and (max-width: 400px) {
            max-width: 280px;
          }
        }
      }
    }
  }
}
.payment_section {
  min-height: 144px;
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .Pricing_total {
    padding-right: 30px;
  }
  h3 {
    font-size: 36px !important;
    color: #00c174;
  }
  .fp_green_btn {
    width: 100%;
    max-width: max-content;
    height: 56px;
    background: #00c174;
    border-radius: 4px;
    padding: 15px 30px;
    border: 1px solid #00c174;
    font-family: "Gilroy-SemiBold";
    font-size: 15px;
    color: #fff !important;
    text-decoration: none;
    line-height: 22px;
    @media only screen and(max-width: 767px) {
      padding: 8px 10px;
    }
    @media only screen and (min-width: 1366px) {
      font-size: 24px;
      height: 80px;
    }
  }
}
