.control_buttons_outer {
  position: relative;
  .control_buttons {
    position: absolute;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

    @media only screen and (min-width: 991px) {
      width: 25%;
    }
    .back_arrow {
      cursor: pointer;
    }
  }
}
.fp_pricing_steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 20px;
  @media only screen and (min-width: 991px) {
    max-width: 345px;
    margin: 0 auto;
    justify-content: space-between;
  }
  @media only screen and (max-width: 767px) {
    padding: 40px 20px;
  }
  .fp_step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .fp_step_link {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33px;
      height: 33px;
      background: #e3eeed;
      color: #00c174;
      border-radius: 20px;
      margin-bottom: 10px;
      font-family: "Gilroy-Bold";
      font-size: 14px;
      line-height: 20px;
      @media only screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 20px;
      }
      @media only screen and (min-width: 1366px) {
        font-size: 19px;
        line-height: 21px;
      }
    }
    p {
      color: #224e42;
      font-family: "Gilroy-Medium";
      font-size: 16px;
      line-height: 20px;
      @media only screen and (min-width: 1366px) {
        font-size: 18px;
        line-height: 20px;
      }
      @media only screen and (min-width: 1366px) {
        font-size: 24px;
        line-height: 26px;
      }
    }
    &.active {
      .number {
        background: #f6c851;
        color: #fff;
      }
      p {
        border-bottom: 2px solid #224e42;
        font-family: "Gilroy-Bold";
      }
    }
  }
}

.fp_pricing_banner_section {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  position: relative;
  h1 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #2d3134;
    @media only screen and (min-width: 991px) {
      max-width: 600px;
      text-align: center;
      margin: 0 auto;
    }
    @media only screen and (min-width: 1366px) {
      font-size: 40px;
      line-height: 47px;
    }
  }

  .yellow_round {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    @media only screen and (min-width: 991px) {
      position: absolute;
      right: 40px;
      top: 0;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f6c851;
      text-align: center;
      width: 190px;
      height: 190px;
      color: #fff;
      font-family: "Gilroy-Bold";
      font-size: 14px;
      line-height: 23px;
      border-radius: 50%;
      @media only screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 23px;
      }
      @media only screen and (min-width: 1366px) {
        font-size: 19px;
        line-height: 23px;
      }
    }
  }
  .payment_round {
    @media only screen and (min-width: 991px) {
      position: absolute;
      right: 40px;
      top: -168px !important;
    }
  }
  .check_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    @media only screen and (max-width: 767px) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .checks {
      display: flex;
      align-items: center;
      flex-direction: column;
      @media only screen and (min-width: 768px) {
        flex-direction: row;
      }
      @media only screen and (max-width: 767px) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
      p {
        font-family: "Gilroy-Medium";
        font-size: 14px;
        line-height: 25px;
        display: flex;
        position: relative;
        @media only screen and (min-width: 768px) {
          font-size: 18px;
          line-height: 35px;
        }
        @media only screen and (min-width: 1366px) {
          font-size: 24px;
          line-height: 44px;
        }
        @media only screen and (max-width: 767px) {
          margin-top: 0px;
        }
        padding-right: 30px;
        margin-bottom: 4px;
        &::before {
          content: url("/images/check-black.png");
          width: 21px;
          height: 14px;
          margin-right: 8px;
        }
        .tooltip {
          position: absolute;
          right: 14px;
          top: 7px;
          background: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: #fff;
          width: 11px;
          height: 11px;
          font-size: 12px;
          font-family: "Gilroy-Bold";
        }
      }
    }
  }
}

.fp_pricing_plans_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
  @media only screen and (max-width: 991px) {
    flex-direction: column;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .plan_box {
    border: 2px solid #ebeaed;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 370px;
    padding: 60px 0px 50px;
    transition: 1s;
    min-height: 414px;
    position: relative;
    cursor: pointer;
    @media only screen and (max-width: 991px) {
      margin-bottom: 60px;
      padding-bottom: 0px;
    }
    @media only screen and (max-width: 991px) {
      min-height: 291px;
    }
    &:hover,
    &.selected {
      transform: scale(1.09);
      background: #00c174;
      z-index: 2;
      h2,
      h3 {
        color: #fff;
      }
      .price {
        .currancy,
        .amount,
        .validity {
          color: #fff;
        }
      }
      p {
        font-family: "Gilroy-Regular" !important;
        color: #fff;
      }
      .round {
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          content: url("/images/selected_check.png");
          width: 31px;
          height: 19px;
        }
      }
    }
    .round {
      width: 80px;
      height: 80px;
      background: #fff;
      border: 2px solid #ebeaed;
      border-radius: 50%;
      position: absolute;
      top: -42px;
    }
    h2 {
      font-family: "Gilroy-SemiBold";
      font-size: 18px;
      line-height: 20px;
      color: #224e42;
      text-transform: uppercase;
      @media only screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 24px;
      }
      @media only screen and (min-width: 1366px) {
        font-size: 24px;
        line-height: 26px;
      }
    }
    .price {
      position: relative;
      @media only screen and (max-width: 990px) {
        margin-top: 20px;
      }
      .currancy {
        position: absolute;
        font-family: "Gilroy-SemiBold";
        font-size: 16px;
        line-height: 30px;
        top: -10px;
        left: -20px;
        color: #2d302e;
        @media only screen and (max-width: 990px) {
          left: -12px;
        }
        @media only screen and (min-width: 768px) {
          font-size: 20px;
          line-height: 50px;
        }
        @media only screen and (min-width: 1366px) {
          font-size: 24px;
          line-height: 70px;
        }
      }
      .amount {
        font-family: "Gilroy-SemiBold";
        font-size: 25px;
        line-height: 30px;
        color: #2d302e;
        @media only screen and (min-width: 768px) {
          font-size: 40px;
          line-height: 50px;
        }
        @media only screen and (min-width: 1366px) {
          font-size: 58px;
          line-height: 70px;
        }
      }
      .validity {
        font-family: "Gilroy-SemiBold";
        font-size: 16px;
        color: #2d302e;
        @media only screen and (min-width: 768px) {
          font-size: 20px;
          line-height: 50px;
        }
        @media only screen and (min-width: 1366px) {
          font-size: 24px;
          line-height: 70px;
        }
      }
    }
    h3 {
      font-family: "Gilroy-Medium";
      color: #224e42;
      font-size: 18px;
      line-height: 22px;
      @media only screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 24px;
      }
      @media only screen and (min-width: 1366px) {
        font-size: 24px;
        line-height: 26px;
      }
    }
    p {
      font-family: "Gilroy-Medium";
      color: #79766f;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      @media only screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 24px;
      }
      @media only screen and (min-width: 1366px) {
        font-size: 18px;
        line-height: 26px;
      }
    }
    button {
      margin-top: 20px;
    }
  }
}

.fp_pricing_cats_section {
  padding: 20px 0px;
  @media only screen and (max-width: 990px) {
    padding-top: 0px;
  }
  h2 {
    text-align: center;
    font-size: 25px;
    line-height: 28px;
    color: #2d3134;
    margin-bottom: 50px;
    @media only screen and (min-width: 991px) {
      font-size: 30px;
      line-height: 37px;
      max-width: 555px;
      margin: 0 auto 30px;
    }
    @media only screen and (max-width: 990px) {
      margin-bottom: 20px;
    }
  }
  p {
    font-family: "Gilroy-Medium";
    color: #2d3134;
    text-align: center;
  }
  ul {
    display: flex;
    padding-left: 0px;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto 0px;
    @media only screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    li {
      font-family: "Gilroy-Bold";
      color: #2d313466;
      font-size: 14px;
      line-height: 21px;
      cursor: pointer;
      @media only screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 23px;
      }
      @media only screen and (min-width: 991px) {
        font-size: 18px;
        line-height: 32px;
      }
      @media only screen and (max-width: 990px) {
        line-height: 24px;
      }
      &:hover {
        color: #2d3134;
      }
      &.selected {
        color: #2d3134;
      }
    }
  }
}

.extension_scale_section {
  padding: 50px 0px 80px;
  @media only screen and (max-width: 991px) {
    padding: 50px 20px 35px;
  }
  @media only screen and (max-width: 767px) {
    padding-top: 0px;
  }
  p {
    font-family: "Gilroy-Medium";
    color: #2d3134;
    text-align: center;
  }
  .range_slider {
    margin-top: 40px !important;
    width: 100%;
    max-width: 852px;
    margin: 0 auto;
    .fp_slider_bar {
      background: #ceebdd;
    }
    .fb_slider_handle {
      &::before {
        background: #00c174;
        border-color: #00c174;
        width: 28px;
        height: 28px;
        top: -9px;
        left: -9px;
      }
    }
  }
}

.payment_continue_section {
  padding: 40px 0px;
  background: #f8f8f8;
  .valid_error {
    font-family: "Gilroy-Regular";
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    background: red;
    border-radius: 20px;
    text-align: center;
    padding: 5px;

    float: right;
    width: 100%;
    margin-bottom: 10px;
    @media only screen and (min-width: 1024px) {
      max-width: 300px;
    }
  }
  .section_start {
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width: 1024px) {
      justify-content: flex-end;
    }
  }
  button {
    @media only screen and (max-width: 767px) {
      padding: 8px 10px;
      font-size: 12px;
    }
    @media only screen and (min-width: 1024px) {
      font-size: 24px;
      height: 80px;
    }
  }
  .total {
    padding-right: 30px;
    h2 {
      color: #00c174;
      @media only screen and (min-width: 1366px) {
        font-size: 36px !important;
      }
    }
  }
}
