.landing_form_page {
  background-image: -webkit-linear-gradient(bottom, #f8f8f8 60%, #00c174 0);
  padding: 100px 0;
  @media only screen and (max-width: 767px) {
    padding: 50px 0;
  }
  .form_container {
    max-width: 707px;
    margin: 0 auto;
    h1 {
      font-family: "Gilroy-ExtraBold";
      font-size: 25px;
      color: #fff;
      text-align: center;
      @media (min-width: 768px) {
        font-size: 38px;
        text-align: left;
      }
    }
    .sub_title {
      font-family: "Gilroy-SemiBold";
      font-size: 15px;
      color: #fff;
      margin: 15px 0 40px;
      text-align: center;
      @media (min-width: 768px) {
        font-size: 18px;
        text-align: left;
      }
    }
  }
}

.landing_form {
  background-color: #fff;
  padding: 25px;
  box-shadow: 0px 0px 1px 0px #888888;
  border-radius: 15px;
  @media only screen and (min-width: 768px) {
    padding: 40px 50px;
  }
  h2 {
    font-family: "Gilroy-Bold";
    font-size: 20px !important;
    color: #393939;
    text-align: center;
    @media only screen and (min-width: 768px) {
      font-size: 30px !important;
      text-align: left;
    }
  }
  p {
    font-family: "Gilroy-Medium";
    font-size: 15px;
    color: #717876;
    text-align: center;
    @media only screen and (min-width: 768px) {
      text-align: left;
    }
  }
  .form_group_title {
    margin: 15px 0 0;
    label {
      font-family: "Gilroy-Bold";
      font-size: 15px !important;
      color: #000000;
      text-align: center;
      margin-bottom: 10px;
      @media only screen and (min-width: 768px) {
        font-size: 18px !important;
        text-align: left;
      }
    }
  }
  .form_group {
    .searchWrapper {
      div:nth-child(1) {
        font-family: "Gilroy-Regular";
        border: 1px solid #777777 !important;
        min-height: 46px !important;
        padding: 6px 12px !important;
        color: #555555 !important;
        input {
          color: #555555 !important;
          font-family: "Gilroy-Regular";
        }
      }
    }
    .optionListContainer {
      font-family: "Gilroy-Regular";
    }
    label {
      font-family: "Gilroy-Bold";
      font-size: 15px !important;
      color: #2d3134;
      text-align: center;
      margin-bottom: 10px;
      @media only screen and (min-width: 768px) {
        font-size: 18px !important;
        text-align: left;
      }
    }
    .form_control {
      font-family: "Gilroy-Medium";
      font-size: 15px;
      color: #717876;
      height: 46px;
      border: 1px solid #777777;
    }
    .textarea {
      height: 86px;
      padding-top: 15px;
    }
    .remaining_characters {
      float: right;
      font-family: "Gilroy-Medium";
      font-size: 13px;
      color: #717876;
      margin-top: 5px;
    }
    .drag_upload {
      border: 1px dotted #bbbbbb;
      min-height: 111px;
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      //align-items: center;
      cursor: pointer;
      // @media only screen and (min-width: 768px) {
      //   flex-direction: row;
      // }
      &:hover {
        .upload_button {
          background: #00c174;
        }
      }
      .file_list {
        .each_file_small {
          border-bottom: 1px solid #e2e2e2;
          padding: 15px 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .attach_file {
            font-family: "Gilroy-Regular";
            font-size: 14px;
            color: #555555;
          }
          .close {
            &:before {
              content: url("../public/images/delete.png");
              width: 33px;
              height: 33px;
            }
          }
        }
        .spinner-grow {
          margin: 0 auto;
          display: block;
          margin-top: 10px;
        }
      }
      #image {
        width: 100%;
      }
      .upload_btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        @media only screen and (max-width: 767px) {
          flex-direction: column;
        }
      }

      .upload_button {
        font-family: "Gilroy-Bold";
        font-size: 13px;
        color: #000000;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        cursor: pointer;
        text-decoration: none;
        padding: 15px;
        width: 100%;
        @media only screen and (min-width: 768px) {
          //flex: 0 0 115px;
          //max-width: 115px;
          //padding: 0;
          width: 30%;
        }
      }
      p {
        font-family: "Gilroy-Regular";
        font-size: 13px;
        color: #555555;
        margin-bottom: 0;
        text-align: center;
        margin-top: 15px;
        width: 100%;
        @media only screen and (min-width: 768px) {
          width: 70%;
          margin-left: 50px;
          text-align: left;
          margin-top: 0;
        }
      }
      .file-upload {
        display: none;
      }
      .upload_button_label {
        font-size: 13px !important;
        margin-bottom: 0px;
      }
    }
    .button_box {
      display: flex;
      align-items: center;
      .btn {
        width: 100%;
        max-width: 112px;
        font-family: "Gilroy-Bold";
        font-size: 15px;
        color: #fff;
        font-weight: "normal";
        border: 2px solid #00c174;
        border-radius: 5px;
        height: 51px;
        line-height: 24px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #00c174;
        @media (min-width: 992px) {
          font-size: 18px;
        }
        @media (max-width: 767px) {
          margin: 0 auto;
        }
        &:hover {
          background: #fff;
          color: #00c174;
        }
        &.click {
          background: #fff;
          color: #000000;
        }
      }
      .press_enter {
        font-family: "Gilroy-Medium";
        font-size: 15px;
        color: #717876;
        margin-left: 15px;
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
  .form_section {
    &.title {
      margin-bottom: 20px;
    }
    .form_group {
      margin-bottom: 2rem;

      &.button {
        margin-bottom: 0 !important;
      }
    }
    .respMsg {
      font-family: "Gilroy-Regular";
      font-size: 20px;
      color: #000000;
    }
    .button_box {
      margin: 25px 0 0;
    }
    .level_inner {
      border: 2px solid #ebeaed;
      border-radius: 10px;
      padding: 20px 0 0;
      margin-bottom: 20px;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      &.level_active {
        border: 2px solid #00c174;
        box-shadow: 0px 4px 6px 0px #ace0db;
      }
      h3 {
        font-family: "Gilroy-Medium";
        font-size: 15px;
        color: #717876;
        margin-top: 30px;
      }
    }
  }
}
