.banner_section{
    padding: 25px 0;
    background-color: #00C174;
    text-align: center;
    display: flex;
    align-items: center;
    @media only screen and(min-width: 768px){
        min-height: 315px;
    }
}
.form_section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    padding: 35px 0px;
    h3{
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
        @media only screen and(min-width: 1360px){
            font-size: 26px;
        }
    }
    .form{
        .form_group{
            display: flex;
            flex-direction: column;
            max-width: 510px;
            margin: auto;
            margin-bottom: 20px;
            .form_label{
                font-family: 'Gilroy-SemiBold';
                font-size: 16px !important;
                line-height: 21px !important;
                text-align: left;
                color: #393939;
                padding-bottom: 10px;
                @media only screen and (min-width: 991px) {
                    font-size: 18px !important;
                    line-height: 25px !important;
                }
            }
            .form_control{
                width: 100%;
                max-width: 500px;
                height: 50px;
                padding: 0px 20px;
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                border-radius: 8px;
                font-family: "Gilroy-SemiBold";
                font-size: 15px;
                line-height: 25px;
                color: #393939 !important;
            }
            button{
                max-width: 233px;
                text-align: center;
                margin: auto;
            }
        }
    }
    
}