.service_section{
  padding: 50px 0;
  @media only screen and (max-width: 990px) {
    padding: 30px 0;
 }
  h1{
      text-align: center;
      font-weight: 800;
      font-size: 48px;
      line-height: 54px;
      color: #393939;
      @media only screen and (max-width: 990px) {
        font-size: 32px;
        line-height: 44px;
     }
  }
  p{
    font-weight: 600;
    text-align: center;
    color: #717876;
    max-width: 700px;
    margin: 0 auto;
    line-height: 32px;
  }
}
.service_topsection{
    padding: 50px 0;
    @media only screen and (max-width: 990px) {
        padding: 30px 0;
     }
     @media only screen and (max-width: 767px) {
        padding: 0px !important;
     }
     @media only screen and (min-width: 768px) and (max-width: 1023px) {
        padding: 0px !important;
     }
        .col_6{
            @media only screen and (min-width: 768px) and(max-width:1024px) {
            width: 100%;
            }
            // @media only screen and (min-width: 1031px)and (max-width: 1198px) {
            //     width: 100%;
            //   }
            .service_sectionone{
            
                ul{
                    list-style-type: none !important;
                    padding: 0px !important;
                    li{
                        list-style-type: none !important;
                        margin-left: 56px;
                        padding: 0 0px 65px 21px;
                        font-family: "Gilroy-SemiBold";
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 31px;
                        color: #717876;
                        @media only screen and (min-width: 1031px)and (max-width: 1198px) {
                            padding: 0 0px 15px 21px;
                        }
                        @media only screen and (min-width: 995px)and (max-width: 1198px) {
                            text-align: center;
                          }
                        // @media only screen and (min-width: 1024px)and (max-width: 1365px) {
                        //     text-align: center;
                        //   }
                        //   @media only screen and (min-width: 768px)and (max-width: 1024px) {
                        //     text-align: left;
                        //   }
                        @media only screen and (max-width: 990px) {
                            // padding: 0 0px 50px 21px;
                            
                            font-size: 14px;
                            padding: 10px;
                            line-height: 26px;
                         }
                        h5{
                            font-family: "Gilroy-Bold";
                            font-size: 22px;
                            line-height: 22px;
                            color: #2D3134;
                            @media only screen and (min-width: 1024px)and (max-width: 1365px) {
                                text-align: center;
                              }
                            @media only screen and (max-width: 990px) {
                                font-size: 18px;
                            }
                        }
                        &:nth-child(1){
                            &:before{
                                content: url("../public/images/sectionone.png");
                                position: absolute;
                                left: 0;
                            }
                        }
                        &:nth-child(2){
                            &:before{
                                content: url("../public/images/sectiontwo.png");
                                position: absolute;
                                left: 0;
                            }
                        }
                        &:nth-child(3){
                            &:before{
                                content: url("../public/images/sectionthree.png");
                                position: absolute;
                                left: 0;
                            }
                        }
                    }
            
            }
        }
        }
        
     
}
.servicebottom_section{
    
    h2{
        font-weight: 800;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        color: #393939;
        @media only screen and (max-width: 990px) {
            font-size: 25px;
            line-height: 33px;
         }
    }
    p{
    text-align: center;
    color: #717876;
    max-width: 670px;
    margin: 0 auto;
    @media only screen and (max-width: 990px) {
        line-height: 27px;
     }
    }
    .service_bottom{
        padding: 50px 0;
        @media only screen and (max-width: 1024px) {
           padding: 30px 0;
        }
        @media only screen and (max-width: 767px) {
            padding: 0px !important;
         }
         @media only screen and (min-width: 768px) and (max-width: 1023px) {
            padding: 0px !important;
         }
        .col_6{
            @media only screen and (min-width: 768px) and(max-width:1024px) {
               width: 100%;
             }
        .service_sectiontwo{
            ul{
                list-style-type: none !important;
                padding: 0px !important;
                li{
                    list-style-type: none !important;
                    padding: 0 0px 65px 6px;
                    font-family: "Gilroy-SemiBold";
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 31px;
                    color: #717876;
                    @media only screen and (min-width: 1200px) {
                        padding: 21px 0px 32px 21px !important;
                      }
                    // @media only screen and (min-width: 1031px)and (max-width: 1198px) {
                    //     padding: 0 0px 15px 21px;
                    // }
                    @media only screen and (min-width: 995px)and (max-width: 1198px) {
                        text-align: center;
                      }
                    @media only screen and (min-width: 1024px)and (max-width: 1365px) {
                        text-align: center;
                      }
                      @media only screen and (max-width: 1024px) {
                        padding: 0 0px 35px 6px;
                      }
                    @media only screen and (max-width: 990px) {
                        // padding: 0 0px 50px 21px;
                        text-align: center;
                        font-size: 14px;
                        padding: 10px;
                        line-height: 26px;
                     }
                     h5{
                        font-family: "Gilroy-Bold";
                        font-size: 22px;
                        line-height: 22px;
                        color: #2D3134;
                        @media only screen and (min-width: 1024px)and (max-width: 1365px) {
                            text-align: center;
                          }
                        @media only screen and (max-width: 990px) {
                            font-size: 18px;
                        }
                     }
                    
                     
                }
        
            }
         }
        }
    }
    
}
.service_last{
    padding: 50px 0;
    // @media only screen and (min-width: 1366px) {
    //     padding: 0px;
    //  }
    @media only screen and (max-width: 1024px) {
        padding: 0px;
     }
      .col_6{
        @media only screen and (min-width: 768px) and(max-width:1024px) {
           width: 100%;
         }
        //  @media only screen and (min-width: 1031px)and (max-width: 1198px) {
        //     width: 100%;
        //   }
          .service_sectionthree{
           
            ul{
                list-style-type: none !important;
                padding: 0px !important;
                li{
                    list-style-type: none !important;
                    padding: 0 0px 65px 0px;
                    font-family: "Gilroy-SemiBold";
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 31px;
                    color: #717876;
                    @media only screen and (min-width: 1031px)and (max-width: 1198px) {
                        padding: 0 0px 15px 21px;
                    }
                    @media only screen and (min-width: 995px)and (max-width: 1198px) {
                        text-align: center;
                      }
                      @media only screen and (min-width: 1031px)and (max-width: 1198px) {
                        width: 100%;
                      }
                    @media only screen and (min-width: 1024px)and (max-width: 1365px) {
                        text-align: center;
                      }
                    @media only screen and (max-width: 990px) {
                        // padding: 0 0px 50px 21px;
                        text-align: center;
                        font-size: 14px;
                        padding: 10px;
                        line-height: 26px;
                     }
                     h5{
                        font-family: "Gilroy-Bold";
                        font-size: 22px;
                        line-height: 22px;
                        color: #2D3134;
                        @media only screen and (min-width: 1024px)and (max-width: 1365px) {
                            text-align: center;
                          }
                        @media only screen and (max-width: 990px) {
                            font-size: 18px;
                        }
                     }
                    
                }
        
         }
       }
    }
}
.features_box{
    padding: 35px 45px;
    background-color: #00C174;
    border-radius: 12px;
    height: auto;
    min-height: 144px;
    margin-bottom: 60px;
    @media only screen and (max-width: 990px) {
        margin: 30px 0;
     }
     .col_6{
         display: flex;
         align-items: center;
     }
     p{
        font-family: 'Gilroy-Bold';
        font-size: 25px;
        line-height: 34px;
        color: #FFFFFF;
        max-width: 487px;
        margin: 0 auto;
        @media only screen and (max-width: 990px) {
            font-size: 18px;
            text-align: center;
         }
     }
     .dwnldfirst{
        width: 200px;
        height: 56px;
        background: #FFFFFF;
        border-radius: 4px;
        margin: 10px 10px 0px auto;
        @media only screen and (max-width: 990px) {
            margin: 30px auto;
            height: auto;
            min-height: 56px;
         }
        a{
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #00C174;
            text-decoration: none;
            padding: 10px 15px;
            font-family: "Gilroy-SemiBold";
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            &:before{
                content: url("../public/images/register-ic.png");
                width: 36px !important;
                height: 36px !important;
                margin-right: 10px;
                margin-top: 1px;
            }
            &:hover{
                opacity: 0.7;
            }
        }
     }
}
.service_testimony{
    background: #F8F8F8;
    padding: 50px 0 50px 0;
    
         .col_9{
            .testimony_para{
                font-weight: 600;
                font-size: 30px !important;
                line-height: 45px !important;
                color: #2D3134;
                font-family: "Gilroy-SemiBold";
                max-width: 572px;
                text-align: left;
                @media only screen and (max-width: 990px) {
                   font-size: 14px !important;
                   text-align: center;
                   line-height: 26px !important;
                   margin-bottom: 0px;
                 }
            }
            h6{
                font-style: normal;
                font-weight: 600;
                font-size: 21px;
                line-height: 31px;
                color: #00C174;
                text-align: left;
                @media only screen and (max-width: 990px) {
                    font-size: 16px;
                    text-align: center;
                    margin-bottom: 0px;
                }
            }
            .content_details{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                @media only screen and (max-width: 990px) {
                    display: flex;
                    flex-direction: column;
                }
               h5{
                font-family: 'Gilroy-SemiBold';
                font-size: 22px;
                line-height: 33px;
                color: #2D3134;
                margin: 0px 0px 4px 7px;
                @media only screen and (max-width: 990px) {
                    font-size: 18px;
                }
               }
               h3{
                   font-size: 30px;
                   font-family: "Gilroy-SemiBold";
                   @media only screen and (max-width: 990px) {
                    font-size: 20px;
                    margin-bottom: 0px;
                }
               }
            }
         }
        
        .carousel{
            &.carousel-slider{
                padding: 30px 0 !important;
                background-color: #00C174;
            }
        }
         
        
         
    
}
// .service_newsletter{
//     background-color: #161515;
//     height: auto;
//     min-height: 218px;
//     padding: 50px 0;
//     .col_9{
//     h5{
//         font-size: 23px;
//         line-height: 23px;
//         font-family: "Gilroy-SemiBold";
//         color: #FFFFFF;
//         font-weight: 600;
//         @media only screen and (max-width: 990px) {
//             font-size: 18px;
//         }
//     }
//     p{
//         font-family: "Gilroy-Medium";
//         font-size: 15px;
//         color: #ffffff;
//         line-height: 25px;
//         @media only screen and (max-width: 990px) {
//             font-size: 13px;
            
//          }
//     }
//     .col_12{
//         @media only screen and (max-width: 990px) {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//          }
//         input{
//             background: #1D1D1D;
//             border: 1px solid #353535;
//             box-sizing: border-box;
//             border-radius: 8px;
//             width: 100%;
//             height: 55px;
//             padding: 8px 15px;
//             max-width: 527px;
//             color: #ffffff;
            
//         }
//         .news_btn{
//             background: #00C174;
//             border-radius: 4px;
//             margin-left: 10px;
//             padding: 15px 15px;
//             font-weight: 600;
//             font-size: 16px;
//             line-height: 19px;
//             text-align: center;
//             color: #FFFFFF;
//             text-decoration: none;
//         }
//     }
// }
//     .col_3{
//         @media only screen and (max-width: 990px) {
//            padding: 20px 10px;
//         }
//         h5{
//             font-size: 23px;
//             line-height: 23px;
//             font-family: "Gilroy-SemiBold";
//             color: #FFFFFF;
//             font-weight: 600;
//             @media only screen and (max-width: 990px) {
//                 font-size: 18px;
//              }
//         }
//         .col_12{
//             margin-top: 30px;
//             .news_twitter{
//                 display: flex;
//                 align-items: center;
//                 &::before{
//                     content: url("../public/images/twitter.png");
//                     height: 21px;
//                     width: 25px;
//                     margin-right: 15px;
//                 }
//                 &::after{
//                     content: url("../public/images/telegram.png");
//                     height: 26px;
//                     width: 26px;
//                 }
//             }
            
//         }
//     } 
// }