.banner_section {
  text-align: center;
  padding: 15px 0px;
  @media only screen and (min-width: 1024px) {
    padding: 50px 0px;
  }
  p {
    font-family: "Gilroy-SemiBold";
    font-size: 15px;
    line-height: 25px;
    color: #393939;
    @media only screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
}
.test {
  color: red;
}
.testimonial_section {
  background: #fff;
  .sectionOne {
    background: #f8f8f8;
    padding: 25px 0;
    @media only screen and (min-width: 768px) {
      padding: 90px 0;
    }
  }
  .sectionTwo {
    background: #fff;
    padding: 25px 0;
    @media only screen and (min-width: 768px) {
      padding: 90px 0;
    }
  }
  .sectionThree {
    background: #f8f8f8;
    padding: 25px 0;
    @media only screen and (min-width: 768px) {
      padding: 90px 0;
    }
    .loadMore {
      width: 179px;
      height: 56px;

      background: #ffffff;
      border: 2px solid #dbdbdb;
      box-sizing: border-box;
      border-radius: 4px;
      font-family: "Gilroy-SemiBold";
      color: #2d3134;
      font-size: 16px;
      margin: 10px auto 0px;
      @media only screen and (min-width: 768px) {
        margin: 40px auto 0px;
      }
    }
  }

  .testimonial_box_row {
    justify-content: center;
  }
  .col_3_img {
    width: 100%;
    max-width: 360px;
    margin: 20px 20px;
    position: relative;
    display: flex;
    justify-content: center;
    .video_icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      &::before {
        content: url("../public/images/video-icon.png");
      }
    }
    img {
      max-width: 100%;
      @media only screen and (min-width: 768px) {
        min-width: 360px;
      }
    }
  }
  .col_3 {
    width: 100%;
    max-width: 360px;
    margin: 20px 20px;
    padding: 24px 30px 15px;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    height: 233px;
    .top_row {
      display: flex;
      .user_img {
        border-radius: 50%;
      }
      .testimonial_rating {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        width: 80%;
        .rating_star {
          width: 100%;
          display: flex;
          align-items: center;
          .full {
            &::before {
              content: url("../public/images/star.png");
              width: 14px;
              height: 13px;
              padding-right: 3px;
            }
          }
          span {
            color: #00c174;
            font-size: 15px;
            font-family: "Gilroy-Regular";
          }
        }
      }
    }
    .bottom_row {
      p {
        margin-top: 20px;
        font-family: "Gilroy-SemiBold";
        color: #717876;
        @media only screen and (min-width: 768px) {
          font-size: 15px;
          line-height: 25px;
        }
      }
    }
  }

  a {
    margin-top: 40px;
    display: block;
    margin: 25px auto 0px;
  }
}
