.verify {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    h5 {
        margin-bottom: 0px;
    }
    .spinner-border {
        margin-right: 10px;
    }
}