@import "../fonts/stylesheet.css";

@mixin set-font(
  $family: "Gilroy-SemiBold",
  $size: 12px,
  $color: "",
  $weight: "normal"
) {
  font-family: $family;
  font-size: $size;
  @if $color != "" {
    color: $color;
  }
  font-weight: $weight;
}

.admin-body {
  background: #172030;
  &.container-fluid {
    max-width: 100%;
    padding: 0 !important;
  }
  .add-new {
    background: #fff;
    border: 1px solid #000;
    width: 120px;
    padding: 10px 15px;
    border-radius: 2px;
    box-shadow: 0px 1px 8px -6px #2c2828;
    @include set-font("Gilroy-Regular", 13px, #00c174);

    text-decoration: none;
    &:hover {
      background: #00c174;
      color: #fff;
    }
  }
  .export-btn {
    background: #fff;
    border: 1px solid #000;
    width: 120px;
    padding: 10px 0px;
    border-radius: 2px;
    box-shadow: 0px 1px 8px -6px #2c2828;
    @include set-font("Gilroy-Regular", 13px, #00c174);
    &:hover {
      background: #00c174;
      color: #fff;
    }
    a {
      text-decoration: none;
      width: 100%;
      display: block;
      padding: 0px;
      color: #2c2828;
    }
  }
  .admin-row {
    @media only screen and (min-width: 768px) {
      display: flex;
    }
  }
  .sidebar {
    background: #172030;
    @media only screen and (min-width: 990px) {
      height: 100vh;
      flex: 0 0 18.666667%;
      max-width: 18.666667%;
    }
    @media only screen and (min-width: 768px) and(max-width:990px) {
      flex: 0 0 30.666667%;
      max-width: 30.666667%;
      height: 100vh;
    }
    @media only screen and (min-width: 991px) and(max-width:1200px) {
      flex: 0 0 23.666667%;
      max-width: 23.666667%;
      height: 100vh;
    }
    .leftbar {
      padding: 20px 0px 20px 0px;
      position: fixed;
      height: 100vh;
      @media only screen and (min-width: 1400px) {
        width: 17%;
      }
      &.big-screen {
        @media only screen and (max-width: 767px) {
          display: none;
        }
      }
      &.small-screen {
        @media only screen and (min-width: 768px) {
          display: none;
        }
        display: flex;
        position: relative;
        height: auto;
        .logo-section {
          padding: 0px;
          width: 100%;
        }
        .menu {
          padding-bottom: 0px;
          .close {
            background: url("../images/close-profile.png") no-repeat;
            width: 31px;
            position: absolute;
            top: 0;
            right: 0;
            height: 31px;
          }
        }
      }
    }
    .logo-section {
      display: flex;
      flex-direction: row;
      padding-bottom: 25px;
      .logo {
        @include set-font("Gilroy-SemiBold", 24px, #ffffff);
      }
      .menubar {
        background: url("../images/admin/menu-bar.png") no-repeat;
        width: 24px;
        height: 30px;
        background-position: center;
        margin-left: auto;
      }
    }
    .menu {
      overflow-y: auto;
      height: calc(100vh - 150px);
      .list {
        display: flex;
        flex-direction: column;
        padding: 0;

        .list-item {
          position: relative;
          min-height: 55px;
          border-radius: 5px;
          align-items: center;
          padding-left: 20px;
          display: flex;
          &.show-dropdown {
            display: block;
            padding: 10px 20px;
            background-attachment: fixed;
            background: #29354b;
            &:before {
              padding-top: 3px;
              position: absolute;
            }

            a {
              padding-left: 35px;
              padding-top: 4px;
              display: block;
              &.dropdown {
                &::after {
                  content: url("../images/admin/down.png");
                  position: absolute;
                  right: 0;
                  top: 0%;
                  position: absolute;
                  -webkit-transform: rotate(30deg);
                  -moz-transform: rotate(30deg);
                  -o-transform: rotate(30deg);
                  -ms-transform: rotate(30deg);
                  transform: rotate(180deg);
                }
              }
            }
          }
          &.hide-dropdown {
            display: block;
            padding: 10px 20px;
            &:before {
              padding-top: 3px;
              position: absolute;
            }

            a {
              padding-left: 35px;
              padding-top: 4px;
              display: block;
              &.dropdown {
                &::after {
                  content: url("../images/admin/down.png");
                  right: 0px;
                  position: absolute;
                  top: 0%;
                }
              }
            }
          }
          .sub-item {
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
            background: #29354b;
            padding-bottom: 10px;

            &.disable {
              display: none;
            }
            a {
              padding: 18px 0px 0px 33px;
            }
          }
          &.active {
            background: #29354b;
          }
          &:hover {
            background: #29354b;
          }
          a {
            @include set-font("Gilroy-Regular", 13px, #fff);
            text-decoration: none;
            padding-left: 15px;
          }

          &.dashboard {
            a {
              @include set-font("Gilroy-Medium", 13px, #fff);
              text-decoration: none;
            }

            &::before {
              content: url("../images/admin/home.png");
            }
          }
          &.users {
            &::before {
              content: url("../images/admin/user.png");
            }
          }
          &.portfolio {
            &::before {
              content: url("../images/admin/briefcase.png");
            }
          }
          &.subscription {
            &::before {
              content: url("../images/admin/card3.png");
              width: 20px;
            }
          }
          &.coupons {
            &::before {
              content: url("../images/admin/discount.png");
              width: 20px;
            }
          }
          &.blog {
            &::before {
              content: url("../images/admin/blog.png");
              width: 20px;
            }
          }
          &.pages {
            &::before {
              content: url("../images/admin/pages.png");
            }
          }
          &.subscriptions {
            &::before {
              content: url("../images/admin/subscriptions.png");
            }
          }
          &.leads {
            &::before {
              content: url("../images/admin/leads.png");
            }
          }
          &.newsletter {
            &::before {
              content: url("../images/admin/newsletter.png");
            }
          }
          &.reviews {
            &::before {
              content: url("../images/admin/reviews.png");
            }
          }
          &.appointment {
            &::before {
              content: url("../images/admin/calendar.png");
            }
          }
          &.messages {
            &::before {
              content: url("../images/admin/message.png");
            }
          }
          &.settings {
            &::before {
              content: url("../images/admin/settings.png");
            }
          }
          &.logins {
            &::before {
              content: url("../images/admin/logins.png");
            }
          }
        }
      }
    }
    .signout {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
      @media only screen and (max-width: 768px) {
        padding-bottom: 30px;
      }
      .fa-sign-out {
        color: #fff;
      }
      a {
        @include set-font("Gilroy-Medium", 14px, #fff);
        text-decoration: none;
      }
      &:hover {
        .fa-sign-out {
          color: #00c174;
        }
        a {
          color: #00c174;
        }
      }
    }
  }

  .content {
    @media only screen and (min-width: 990px) {
      flex: 0 0 81.333333%;
      max-width: 81.333333%;
    }
    @media only screen and (min-width: 768px) and(max-width:990px) {
      flex: 0 0 70.333333%;
      max-width: 70.333333%;
    }
    @media only screen and (min-width: 991px) and(max-width:1200px) {
      flex: 0 0 77.333333%;
      max-width: 77.333333%;
    }
    .content-row {
      .header {
        padding: 10px 40px;
        background: #2a3954;
        min-height: 98px;
        @media only screen and (max-width: 767px) {
          display: none;
        }
        @media only screen and (min-width: 768px) and(max-width:990px) {
          padding: 10px 30px;
          min-height: 48px;
        }
        .tob-bar {
          display: flex;
          flex-direction: row;

          .actions {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .navbar {
              background: #2a3954 !important;
              .profile_menu {
                span {
                  padding: 14px;
                  @include set-font("Gilroy-Regular", 13px, #fff);
                }
              }
              .dropdown-menu.show {
                position: absolute;
                will-change: transform;
                top: 0px;
                right: 0px !important;
                transform: translate3d(-298px, 22px, 0px) !important;
              }
            }
            .notifications {
              padding: 0px 20px;
              background: url("../images/admin/bell.png") no-repeat;
              width: 24px;
              height: 24px;
            }
            .ask {
              padding: 0px 30px;
              background: url("../images/admin/ask.png") no-repeat;
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      .top-black-bar {
        background: #2a3954;
        display: flex;
        justify-content: space-between;
        @media only screen and (min-width: 768px) {
          min-height: 90px;
        }
        .export {
          margin-right: 20px;
        }
        .bread-crumbs {
          padding: 0px 40px 20px 40px;
          @media only screen and (max-width: 767px) {
            padding: 10px 0px;
          }
          .navs {
            @include set-font("Gilroy-Medium", 21px, #fff);
            @media only screen and (max-width: 767px) {
              font-size: 18px;
            }
            padding-left: 34px;
            &.users {
              background: url("../images/admin/user.png") no-repeat;
            }
            &.blogs {
              background: url("../images/admin/blog.png") no-repeat;
            }
            &.coupons {
              background: url("../images/admin/discount.png") no-repeat;
            }
            &.subscriptions {
              background: url("../images/admin/card3.png") no-repeat;
            }
            &.conatct {
              background: url("../images/admin/subscriptions.png") no-repeat;
              background-position: 0%;
            }
            &.dashboard {
              background: url("../images/admin/home.png") no-repeat;
            }
            &.appointments {
              background: url("../images/admin/calendar.png") no-repeat;
            }
            &.nav-sub {
              padding-left: 7px;
            }
          }
        }
        .searchbox {
          max-width: 300px;
          margin-left: auto;
          @media only screen and (min-width: 768px) and(max-width:990px) {
            max-width: 200px;
          }
          span {
            &::before {
              content: url("../images/admin/search.png");
              position: absolute;
              top: 13%;
              left: 30px;
            }
          }
          .search {
            border-radius: 40px;
            width: 100%;
            background: #f7fafc;
            padding-left: 50px;
            height: 44px;
            padding-top: 0px;

            &::placeholder {
              @include set-font("Gilroy-Regular", 13px, #172b4d);
            }
          }
        }
      }
      .content-block {
        background: #fff;
        padding-bottom: 25px;
        padding-left: 35px;
        padding-right: 35px;
        @media only screen and (max-width: 768px) and(min-width:420px) {
          padding: 30px 30px;
        }
        @media only screen and (max-width: 419px) {
          padding: 15px 15px;
        }
        .tz-admin-manage-block {
          width: 100%;
          max-width: 100% !important;
          background: #fff;
          margin: 0 auto;
          border-radius: 5px;
          box-shadow: 0px 1px 8px -6px #2c2828;
          display: block;
          @media only screen and (min-width: 768px) {
            margin-top: -39px;
          }
        }
        .edit-data {
          padding: 60px 30px !important;
          @media only screen and (max-width: 767px) {
            padding: 30px 15px !important;
          }
          h1 {
            @include set-font("Gilroy-SemiBold", 18px, #172b4d);
            @media only screen and (max-width: 767px) {
              font-size: 14px !important;
            }
          }
          .card {
            margin-top: 10px;
            .card-header {
              @include set-font("Gilroy-Medium", 15px, #172b4d);
              cursor: pointer;
            }
            .card-body {
              .p_add_container {
                background: #f7f7f7;
                padding: 20px;
              }
              .btn-actions {
                display: flex;
                justify-content: space-between;
                padding: 20px 0px;
              }
              .check-box {
                display: flex;
                align-items: center;
                justify-content: center;
                .container {
                  display: flex;
                  align-items: center;
                  .check-cats {
                    margin-right: 6px;
                  }
                }
              }
              .add_row {
                display: flex;
                justify-content: space-between;
                padding: 20px 0px;
                align-items: center;
                .form-control {
                  width: 50%;
                }
                .quarter {
                  width: 35%;
                }
                label {
                  display: flex;
                  margin-bottom: 0px;
                  #image {
                    width: 70%;
                  }
                  .normal-img {
                    width: 50px;
                    height: 50px;
                  }
                }
                .delete {
                  background: #cc0b0b;
                  color: #fff;
                  border-radius: 50px;
                  width: 20px;
                  height: 20px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 9px;
                  cursor: pointer;
                }
              }
              .certificates {
                display: flex;
                align-items: center;
                .download {
                  cursor: pointer;
                  &:hover {
                    color: #64bdea;
                  }
                }
              }
              .form-group {
                &.date-class {
                  display: flex;
                  flex-direction: column;
                  input {
                    width: 50%;
                    border: 1px solid;
                    border: 1px solid #e2e2e2;
                    height: 32px;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:focus {
                      outline: 0;
                      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                    }
                  }
                }
                &.post_check {
                  padding-left: 22px;
                }
                .use-wallet {
                  label {
                    &:nth-child(2) {
                      margin-left: 20px;
                    }
                  }
                  .use-wallet-input {
                    margin-right: 7px;
                  }
                }
                .profile_up {
                  width: 100%;
                  max-width: 160px;
                  height: 160px;
                  border: 1px solid #ccc;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  position: relative;
                  &:hover {
                    background: #000;
                    z-index: 9999;
                    cursor: pointer;
                    img {
                      &.hover-cam {
                        display: block;
                        cursor: pointer;
                      }
                      &.normal-img {
                        display: none;
                      }
                    }
                  }
                  img {
                    width: 150px;
                    height: 150px;
                    object-fit: contain;
                    cursor: pointer;
                    &.hover-cam {
                      display: none;
                    }
                  }
                  .upload-img-label {
                    display: none;
                  }
                  &:hover {
                    .upload-img-label {
                      display: block;
                      position: absolute;
                      font-family: "Gilroy-Medium";
                      font-weight: bold;
                      color: #fff;
                      font-size: 14px;
                      background: #000;
                      opacity: 0.7;
                      width: 50px;
                      height: 50px;
                      text-align: center;
                      left: 0;
                      bottom: 0;
                      max-width: 160px;
                      padding: 2px;
                      border-top-right-radius: 80%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      .fa-camera {
                        font-size: 25px;
                      }
                    }
                  }
                }
                .remove_profile {
                  font-family: "Gilroy-SemiBold";
                  font-size: 15px;
                  color: #002658;
                  text-align: center;
                  display: block;
                  cursor: pointer;
                  &:hover {
                    color: #64bdea;
                  }
                }
                &.address_group {
                  display: flex;
                  flex-direction: column;
                }
                &.dob_group {
                  .dob-input {
                    display: flex;
                    flex-direction: row;
                    .form-control {
                      &.half {
                        width: 100%;
                        max-width: 10%;
                        margin-right: 10px;
                      }
                    }
                  }
                }
                &.dentisttype {
                  display: flex;
                  flex-direction: row;
                  .types {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-right: 30px;
                    label {
                      margin-bottom: 0px;
                      padding-left: 5px;
                    }
                  }
                }
                label {
                  @include set-font("Gilroy-Medium", 12px, #172b4d);
                }
                .form-check-input {
                  margin-top: 0.5rem;
                }
                .form-control {
                  @include set-font("Gilroy-Regular", 12px, #172b4d);
                  border: 1px solid #e2e2e2;
                  &.half {
                    width: 50%;
                    @media only screen and (max-width: 767px) {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
          .text-info {
            display: block;
            margin: 0 auto;
            color: #172b4d !important;
          }
        }

        .title-bar {
          display: flex;
          padding: 15px 24px;
          .title {
            @include set-font("Gilroy-Medium", 18px, #172b4d);
            display: flex;
            align-items: center;
          }
          .export {
            margin-left: auto;
            .select {
              @include set-font("Gilroy-Regular", 16px, #172b4d);
              width: 140px;
              height: 35px;
            }
          }
        }
        .category-box {
          padding-left: 20px;
          .btn {
            @include set-font("Gilroy-Medium", 16px, #172b4d);
            &.active {
              border-bottom: 2px solid #00c174;
              border-radius: 0;
            }
          }
        }
        .listusers {
          &.activities {
            .table {
              tbody {
                tr {
                  td {
                    &.name {
                      width: 36%;
                    }
                  }
                }
              }
            }
          }
          .search {
            width: 100%;
            max-width: 300px;
            margin-left: auto;
            display: block;
            margin-bottom: 20px;
            margin-right: 10px;
            .form-control {
              @include set-font("Gilroy-Regular", 16px, #172b4d);
            }
          }
          .table {
            thead {
              tr {
                border: none;
                th {
                  border: none;
                  @include set-font("Gilroy-Medium", 11px, #8898aa);
                  background: #f1f3f9;
                  padding: 12px 12px;
                  text-align: left;
                  @media only screen and (min-width: 1025px) and(max-width:1200px) {
                    padding: 12px 5px;
                    font-size: 10px;
                  }
                }
              }
              @media only screen and (max-width: 1024px) {
                display: none;
              }
            }
            tbody {
              tr {
                border: none;
                td {
                  border: none;
                  @include set-font("Gilroy-Regular", 14px, #172b4d);
                  background: #f1f3f9;
                  padding: 12px 12px;
                  text-align: left;
                  vertical-align: middle;
                  @media only screen and (min-width: 1025px) and(max-width:1200px) {
                    padding: 12px 5px;
                    font-size: 11px;
                  }
                  @media only screen and (max-width: 1024px) {
                    text-align: center;
                    padding: 5px 23px;
                  }

                  img {
                    padding-right: 15px;
                    @media only screen and (max-width: 990px) {
                      padding-right: 0px;
                    }
                    @media only screen and (max-width: 1024px) {
                      margin: 0 auto;
                    }
                  }
                  .btn-dlt {
                    padding: 2px 16px;
                    background: #aa2b2b;
                    border: 1px solid #aa2b2b;
                    margin-right: 10px;
                    text-decoration: none;
                    @include set-font("Gilroy-Medium", 14px, #fff);
                    &:hover {
                      background: #fff;
                      @include set-font("Gilroy-Medium", 14px, #aa2b2b);
                    }
                  }
                  .btn-edit {
                    padding: 2px 16px;
                    background: #2baa36;
                    border: 1px solid #2baa36;
                    margin-right: 10px;
                    text-decoration: none;
                    @include set-font("Gilroy-Medium", 14px, #fff);
                    &:hover {
                      background: #fff;
                      @include set-font("Gilroy-Medium", 14px, #2baa36);
                    }
                  }
                }
                &.odd {
                  background: #fff;
                  td {
                    background: #fff;
                  }
                }
                &.even {
                  td {
                    background: #f7fafc;
                  }
                }
                @media only screen and (max-width: 1024px) {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  border-bottom: 1px solid #ccc;

                  padding: 10px 0px;
                  &:first-child {
                    border-top: 1px solid #ccc;
                  }
                }
              }
            }
            tr {
              td {
                .text-primary {
                  color: #172b4d !important;
                }
                &.name {
                  width: 28%;
                  @media only screen and (min-width: 1400px) {
                    width: 20%;
                  }

                  img {
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                    @media only screen and (max-width: 990px) {
                      display: flex;
                    }
                  }
                }
                &.date {
                  width: 10%;
                }
                &.general {
                  width: 10%;
                }
                &.email {
                  width: 20%;
                }
                &.approve {
                  width: 10%;
                  span {
                    &.active {
                      color: #00c174;
                    }
                  }
                }
                &.reg-status {
                  span {
                    display: block;
                    max-width: 100px;
                    text-align: center;
                    padding: 5px;
                    border-radius: 5px;
                    &.finish {
                      background-color: #a5efa5;
                      @media only screen and (max-width: 990px) {
                        margin: 0 auto;
                      }
                    }
                    &.unfinish {
                      background-color: #ff3030;
                    }
                  }
                }
                &.actions {
                  width: 15%;
                  text-align: center;
                  @media only screen and (min-width: 768px) and(max-width:990px) {
                    text-align: right;
                  }
                  .sm-screen-actions {
                    @media only screen and (min-width: 1025px) {
                      display: none;
                    }
                    display: flex;
                    .btn-edit {
                      padding: 2px 16px;
                      margin-right: auto;
                      background: #00c174;
                      border: 1px solid #00c174;
                      @include set-font("Gilroy-Medium", 14px, #fff);
                      &:hover {
                        background: #fff;
                        @include set-font("Gilroy-Medium", 14px, #00c174);
                      }
                    }
                    .btn-dlt {
                      padding: 2px 16px;
                      background: #aa2b2b;
                      border: 1px solid #aa2b2b;
                      @include set-font("Gilroy-Medium", 14px, #fff);
                      &:hover {
                        background: #fff;
                        @include set-font("Gilroy-Medium", 14px, #aa2b2b);
                      }
                    }
                  }
                  .lg-screen-actions {
                    .dropdown-menu {
                      .dropdown-item {
                        @include set-font("Gilroy-Regular", 12px, #172b4d);
                      }
                    }
                    .dropdown-toggle {
                      &::after {
                        display: none !important;
                      }
                      &::before {
                        content: url("../images/admin/actions.png");
                      }
                    }
                    @media only screen and (max-width: 1024px) {
                      display: none;
                    }
                  }
                  span {
                    background: url("../images/admin/actions.png") no-repeat;
                    display: inline-block;
                    width: 10px;
                    height: 20px;
                    cursor: pointer;
                  }
                }
                @media only screen and (max-width: 1024px) {
                  width: 100% !important;
                  text-align: center;
                }
              }
            }
          }
        }
        .listSubscriptions {
          .table {
            thead {
              tr {
                border: none;
                th {
                  border: none;
                  @include set-font("Gilroy-Medium", 11px, #8898aa);
                  background: #f1f3f9;
                  padding: 12px 6px;
                  text-align: left;
                  @media only screen and (min-width: 1025px) and(max-width:1200px) {
                    padding: 12px 5px;
                    font-size: 10px;
                  }
                }
              }
              @media only screen and (max-width: 1024px) {
                display: none;
              }
            }
            tbody {
              tr {
                border: none;
                &.expired {
                  td {
                    background: #f9dfdf;
                  }
                }
                &.viewd {
                  td {
                    background: #fff;
                  }
                }
                &.not-viewd {
                  td {
                    background: #e2e2e2;
                  }
                }
                td {
                  border: none;
                  @include set-font("Gilroy-Regular", 13px, #172b4d);
                  background: #f1f3f9;
                  padding: 8px 6px;
                  text-align: left;
                  vertical-align: middle;
                  @media only screen and (min-width: 1025px) and(max-width:1200px) {
                    padding: 12px 5px;
                    font-size: 11px;
                  }
                  @media only screen and (max-width: 1024px) {
                    text-align: center;
                    padding: 5px 23px;
                  }

                  img {
                    padding-right: 15px;
                    @media only screen and (max-width: 990px) {
                      padding-right: 0px;
                    }
                    @media only screen and (max-width: 1024px) {
                      margin: 0 auto;
                    }
                  }
                  .red-btn {
                    background: #cc0000;
                    border: 2px solid #cc0000;
                    padding: 3px 10px;
                    display: block;
                    width: 100px;
                    text-align: center;
                    &.cancel {
                      width: 160px;
                    }
                    &:focus {
                      outline: none;
                    }
                    @include set-font("Gilroy-Medium", 14px, #fff);
                    &:hover {
                      border: 2px solid #000;
                      background: #fff;
                      color: #000;
                      text-decoration: none;
                    }
                    &:disabled {
                      cursor: not-allowed;
                      opacity: 0.75;
                      background: #ccc;
                      border: 2px solid #ccc;
                    }
                    @media only screen and (max-width: 990px) {
                      margin: 0 auto;
                    }
                  }
                  .flag {
                    background: #12a9c2ed;
                    color: #fff;
                    padding: 0px 6px;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    max-width: 180px;
                    text-align: center;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                  }
                }
                &.odd {
                  background: #fff;
                  td {
                    background: #fff;
                  }
                }
                &.even {
                  td {
                    background: #f7fafc;
                  }
                }
                @media only screen and (max-width: 1024px) {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  border-bottom: 1px solid #ccc;

                  padding: 10px 0px;
                  &:first-child {
                    border-top: 1px solid #ccc;
                  }
                }
              }
            }
            tr {
              td {
                .text-primary {
                  color: #172b4d !important;
                }
                &.name {
                  width: 15%;
                  @media only screen and (min-width: 1400px) {
                    width: 15%;
                  }
                }
                &.project_name {
                  width: 13%;
                }
                &.plan_name {
                  width: 20%;
                }
                &.date {
                  width: 10%;
                }
                &.amount {
                  width: 10%;
                }

                &.actions {
                  width: 15%;
                  text-align: center;
                  @media only screen and (min-width: 768px) and(max-width:990px) {
                    text-align: right;
                  }
                  .sm-screen-actions {
                    @media only screen and (min-width: 1025px) {
                      display: none;
                    }
                    display: flex;
                    .btn-edit {
                      padding: 2px 16px;
                      margin-right: auto;
                      background: #00c174;
                      border: 1px solid #00c174;
                      @include set-font("Gilroy-Medium", 14px, #fff);
                      &:hover {
                        background: #fff;
                        @include set-font("Gilroy-Medium", 14px, #00c174);
                      }
                    }
                    .btn-dlt {
                      padding: 2px 16px;
                      background: #aa2b2b;
                      border: 1px solid #aa2b2b;
                      @include set-font("Gilroy-Medium", 14px, #fff);
                      &:hover {
                        background: #fff;
                        @include set-font("Gilroy-Medium", 14px, #aa2b2b);
                      }
                    }
                  }
                  .lg-screen-actions {
                    .dropdown-menu {
                      .dropdown-item {
                        @include set-font("Gilroy-Regular", 12px, #172b4d);
                      }
                    }
                    .dropdown-toggle {
                      &::after {
                        display: none !important;
                      }
                      &::before {
                        content: url("../images/admin/actions.png");
                      }
                    }
                    @media only screen and (max-width: 1024px) {
                      display: none;
                    }
                  }
                  span {
                    background: url("../images/admin/actions.png") no-repeat;
                    display: inline-block;
                    width: 10px;
                    height: 20px;
                    cursor: pointer;
                  }
                }
                @media only screen and (max-width: 1024px) {
                  width: 100% !important;
                  text-align: center;
                }
              }
            }
          }
        }
        .renew-subscription {
          .subscriptionData {
            @media only screen and (min-width: 768px) {
              width: 100%;
              max-width: 540px;
              margin: 0 auto;
            }
            &.leadsData {
              max-width: 750px;
              .value {
                text-align: left;
              }
            }
            .row {
              padding: 10px 0px;
            }

            .title {
              @include set-font("Gilroy-SemiBold", 14px, #000);
            }
            .value {
              .seprator {
                &::before {
                  content: " \002d ";
                  position: absolute;
                  left: 0;
                }
              }
              @include set-font("Gilroy-Medium", 14px, #000);
              text-align: right;
            }
            .submit-btn {
              margin: 0 auto;
              display: block;
              width: auto;
              padding: 10px 10px;
            }
            .response {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              h3 {
                font-size: 20px;
              }
            }
          }
        }
      }
      .submit {
        padding: 10px 0px;
        .submit-btn {
          margin-right: 20px;
        }
      }
      .submit-btn {
        background: #00c174;
        border: 1px solid #00c174;
        width: 120px;
        padding: 10px 0px;
        border-radius: 2px;
        box-shadow: 0px 1px 8px -6px #2c2828;
        border-radius: 5px;
        @include set-font("Gilroy-SemiBold", 13px, #fff);
        &:hover {
          background: #fff;
          color: #00c174;
          .text-primary {
            color: #00c174 !important;
          }
        }
        .text-primary {
          color: #fff !important;
          height: 1rem !important;
          width: 1rem !important;
          margin-right: 5px;
        }
      }
      .green-btn {
        background: #4caf50;
        border: 1px solid #4caf50;
        width: 120px;
        padding: 10px 0px;
        border-radius: 2px;
        box-shadow: 0px 1px 8px -6px #2c2828;
        border-radius: 5px;
        @include set-font("Gilroy-SemiBold", 13px, #fff);
        &:hover {
          background: #fff;
          color: #4caf50;
          .text-primary {
            color: #4caf50 !important;
          }
        }
        .text-primary {
          color: #fff !important;
          height: 1rem !important;
          width: 1rem !important;
          margin-right: 5px;
        }
      }
      .cancel-btn {
        background: #667d81;
        border: 1px solid #667d81;
        padding: 13px 30px;
        border-radius: 5px;
        text-decoration: none;
        width: 120px;
        box-shadow: 0px 1px 8px -6px #2c2828;
        @include set-font("Gilroy-SemiBold", 13px, #fff);
        &:hover {
          background: #fff;
          color: #667d81;
        }
      }
      .sucess {
        @include set-font("Gilroy-SemiBold", 14px, #009600);
      }
      .error {
        @include set-font("Gilroy-SemiBold", 14px, red);
      }
      .validate_error {
        @include set-font("Gilroy-Regular", 12px, red);
      }
    }

    /************pagination*************/
    .paginate {
      float: right;
      margin-right: 40px;
      .pagination {
        li {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 1px solid #8898aa4a;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 10px;
          cursor: pointer;
          @include set-font("Gilroy-Regular", 13px, #8898aa);
          a {
            @include set-font("Gilroy-Regular", 13px, #8898aa);
            .left {
              background: url("../images/admin/left.png") no-repeat;
              height: 15px;
              width: 15px;
              display: block;
              background-position: center;
            }
            .right {
              background: url("../images/admin/right.png") no-repeat;
              height: 15px;
              width: 15px;
              display: block;
              background-position: center;
            }
          }
          &.active {
            border: 1px solid #00c174;
            background: #00c174;
            a {
              color: #fff;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  /*************************CTEGORY***********************/
  .categories-wrap {
    .card-header {
      @include set-font("Gilroy-Regular", 18px);
      .add-cat-btn {
        background: #00c174;
        border: 1px solid #00c174;
        border-radius: 2px;
        box-shadow: 0px 1px 8px -6px #2c2828;
        font-family: "Gilroy-Regular";
        font-size: 13px;
        color: #fff;
        &:hover {
          background: #fff;
          color: #00c174;
        }
      }
    }
    .categories-add {
      label {
        @include set-font("Gilroy-Regular", 13px, #172b4d);
      }

      input {
        @include set-font("Gilroy-Regular", 14px, #172b4d);
        border-radius: 0;
      }
      .error {
        margin: 0;
        margin-bottom: 20px;
        text-align: left;
      }
      .save-btn {
        padding: 10px 30px;
        background: #fff;
        border: 1px solid #00c174;
        border-radius: 2px;
        box-shadow: 0px 1px 8px -6px #2c2828;
        font-family: "Gilroy-Regular";
        font-size: 13px;
        color: #00c174;
        &:hover {
          background: #00c174;
          color: #fff;
        }
      }
      .rem-btn {
        background: #c9364e;
        border: 1px solid #c9364e;
        border-radius: 2px;
        box-shadow: 0px 1px 8px -6px #2c2828;
        font-family: "Gilroy-Regular";
        font-size: 13px;
        color: #fff;
        &:hover {
          background: #fff;
          color: #c9364e;
        }
      }
      .add-btn {
        background: #00c174;
        border: 1px solid #00c174;
        border-radius: 2px;
        box-shadow: 0px 1px 8px -6px #2c2828;
        font-family: "Gilroy-Regular";
        font-size: 13px;
        color: #fff;
        &:hover {
          background: #fff;
          color: #00c174;
        }
      }
      .attributes {
        table {
          thead {
            background: #eee;
          }
          tr {
            td {
              @include set-font("Gilroy-Regular", 13px, #172b4d);
              vertical-align: middle;
            }
            th {
              @include set-font("Gilroy-Regular", 13px);
            }
          }
        }
      }
    }
    .categories-list {
      table {
        tr {
          td {
            @include set-font("Gilroy-Regular", 15px, #172b4d);
          }
          th {
            @include set-font("Gilroy-Regular", 15px);
          }
        }
      }
      .del-btn {
        background: #fff;
        border: 1px solid #c9364e;
        border-radius: 2px;
        box-shadow: 0px 1px 8px -6px #2c2828;
        font-family: "Gilroy-Regular";
        font-size: 13px;
        color: #c9364e;
        &:hover {
          background: #c9364e;
          color: #fff;
        }
      }
      .edit-btn {
        background: #fff;
        border: 1px solid #00c174;
        border-radius: 2px;
        box-shadow: 0px 1px 8px -6px #2c2828;
        font-family: "Gilroy-Regular";
        font-size: 13px;
        color: #00c174;
        &:hover {
          background: #00c174;
          color: #fff;
        }
      }
      .view-btn {
        background: #fff;
        border: 1px solid #00c174;
        border-radius: 2px;
        box-shadow: 0px 1px 8px -6px #2c2828;
        font-family: "Gilroy-Regular";
        font-size: 13px;
        color: #00c174;
        &:hover {
          background: #00c174;
          color: #fff;
        }
      }
    }
  }

  .adminNothingFoundMsg {
    @include set-font("Gilroy-Regular", 15px, #172b4d);
  }

  .content .content-row .top-black-bar .bread-crumbs .navs.settings {
    background: url("../images/admin/settings.png") no-repeat;
    padding-top: 2px;
  }
  /*************************END CATEGORY******************/
  /**********************Login page***************************/
  #admin_login {
    background: url("../images/admin/admin-login-bg.png") no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    padding: 0px 20px;
    .loginbox {
      width: 100%;
      max-width: 394px;
      padding: 35px 40px;
      background: #f7fafc;
      border-radius: 5px;
      box-shadow: -1px 1px 6px 0px #00347a40;
      h1 {
        @include set-font("Gilroy-SemiBold", 25px, #172b4d);
        text-align: center;
      }
      p {
        @include set-font("Gilroy-Regular", 15px, #172b4d);
        text-align: center;
      }
      .error {
        p {
          @include set-font("Gilroy-Regular", 13px, red);
        }
      }
      .sucess {
        p {
          @include set-font("Gilroy-Regular", 13px, #009600);
        }
      }
      .form-group {
        display: flex;
        align-items: left;
        flex-direction: column;
        .username {
          position: absolute;
          background: url("../images/admin/mail.png") no-repeat;
          display: block;
          width: 20px;
          height: 16px;
          margin-left: 24px;
          margin-top: 15px;
        }
        .password {
          position: absolute;
          background: url("../images/admin/lock.png") no-repeat;
          display: block;
          display: block;
          width: 16px;
          height: 19px;
          margin-left: 24px;
          margin-top: 12px;
        }
        .field {
          max-width: 300px;
          padding-left: 50px;
          height: 44px;
          box-shadow: 0px 4px 10px -5px #929eaacf;
          border: none;
          margin: 0 auto;
          line-height: 10;
          padding-bottom: 5px;
          @include set-font("Gilroy-Regular", 14px, #172b4d);
          &::placeholder {
            @include set-font("Gilroy-Regular", 14px, #172b4d);
          }
        }
        .danger {
          @include set-font("Gilroy-Regular", 12px, red);
          padding-left: 10px;
        }
      }
      .login-optons {
        flex-direction: row;
        @media only screen and (max-width: 420px) {
          flex-direction: column;
        }
        span {
          @include set-font("Gilroy-Regular", 13px, #172b4d);
          padding: 10px;
        }

        //check box//
        .custom-control {
          padding-bottom: 6px;

          label {
            &::before {
              top: 0.5rem;
              background: #64bdea;
              border-radius: 0px !important;
              width: 17px;
              height: 17px;
            }
            padding-top: 4px;
          }

          input:checked ~ .custom-control-label::after {
            content: url("../images/check.png");
            height: 8px;
            background-image: none !important;
            padding-left: 2px;
            top: 3px;
            display: block;
          }
          .custom-control-label::before {
            border: none;
          }
        }
        .custom-control-input:checked ~ .custom-control-label::before {
          background: #64bdea;
          border: #64bdea;
        }
        /* .custom-control-label {
  &::before {
    top: 0.5rem;
    box-shadow: 0px 3px 6px -1px #7070706b;
    border: none;
    width: 21px;
    height: 21px;
    left: -0.97em;
    border-radius: 4px !important;
  }
  &::after {
    padding-left: 12px;
    top: 6px;
  }
  @media only screen and (max-width: 420px) {
    text-align: center;
  }
} */

        .forgotpassword {
          text-align: right;
          padding-top: 3px;
          @media only screen and (max-width: 420px) {
            text-align: center;
          }
          a {
            @include set-font("Gilroy-Regular", 13px, #00c174);
            text-transform: capitalize;
          }
        }
      }
      .admin-login-btn {
        width: 100%;
        max-width: 160px;
        height: 50px;
        margin: 0 auto;
        display: block;
        text-align: center;
        background: #00c174;
        border: 1px solid #00c174;
        border-radius: 4px;
        margin-top: 35px;
        @include set-font("Gilroy-Medium", 18px, #fff);
        .text-info {
          color: #fff !important;
          margin-right: 5px;
        }
        &:hover {
          color: #00c174;
          background: #fff;
          .text-info {
            color: #00c174 !important;
          }
        }
      }
    }
  }
  /***********************end login page**********************/
  /**************ADMIN MENU SLIDE ***********/
  #admin-menu-off {
    pointer-events: none;
    .close {
      display: none;
    }
  }
  #admin-menu-on {
    pointer-events: unset;
  }
  #admin-menu-on,
  #admin-menu-off {
    .bm-overlay {
      background: #172030 !important;
      right: 0;
      top: 0;
      width: 36% !important;
      z-index: 1060 !important;
      opacity: 0.8;
      @media only screen and (max-width: 767px) {
        width: 100% !important;
      }
    }
    .bm-menu-wrap {
      width: 36% !important;
      right: 0 !important;
      padding-top: 50px;
      @media only screen and (max-width: 767px) {
        width: 100% !important;
      }
      .bm-item-list {
        .menu-item {
          @include set-font("Gilroy-Regular", 13px, #fff);
          text-transform: uppercase;
          padding: 20px 0px;
        }
      }
    }
  }
  /**************END ADMIN MENU SLIDE**********/
  /******************check box style************/

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 19px;
    /* Hide default HTML checkbox */
    input {
      display: none;
    }
    .approve-label {
      padding-left: 40px;
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f6f9fc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1.5px solid #172b4d;
    &::before {
      position: absolute;
      content: "";
      height: 13px;
      width: 13px;
      left: 3px;
      bottom: 2px;
      background-color: #8898aa;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  input.default:checked + .slider {
    background-color: #fff;
    border: 1.5px solid #00c174;
    &::before {
      background-color: #00c174;
    }
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  /*modal style*/
  .delete-popup {
    .modal-title {
      @include set-font("Gilroy-Medium", 18px, #172b4d);
    }
    .modal-body {
      background: #e4e4e4 !important;
      @include set-font("Gilroy-Medium", 14px, #172b4d);
    }
  }

  .all-notifications-wraps {
    padding: 50px 0;
    h3 {
      @include set-font("Gilroy-SemiBold", 30px, #002658);
    }
    .item-row {
      align-items: center;
      padding: 15px 20px;
      background: #f5f5f5;
      .item-img {
        img {
          border: solid 1px #ddd;
          border-radius: 100%;
          width: 80px;
          height: 80px;
          object-fit: cover;
          background: #fff;
        }
      }
      .item-content {
        .notify-head {
          @include set-font("Gilroy-Medium", 16px, #002658);
        }
        .notify-message {
          @include set-font("Gilroy-SemiBold", 15px, #8396ae);
        }
      }
      .item-time {
        display: flex;
        align-items: "center";
        .btn-edit {
          padding: 2px 16px;
          margin-right: auto;
          background: #00c174;
          border: 1px solid #00c174;
          @include set-font("Gilroy-Medium", 14px, #fff);
          &:hover {
            background: #fff;
            @include set-font("Gilroy-Medium", 14px, #00c174);
          }
        }
      }
      .notify-time {
        @include set-font("Gilroy-Medium", 13px, #8396ae);
        margin-left: auto;
      }
    }
    .notingfound {
      @include set-font("Gilroy-SemiBold", 16px, #002658);
    }
  }
  .name_change_block {
    .card-body {
      .form-group {
        display: flex;
        align-items: center;
        a {
          @include set-font("Gilroy-Medium", 14px, #64bdea);
        }
        label {
          font-size: 16px !important;
          margin-bottom: 0px;
        }
        p {
          @include set-font("Gilroy-Regular", 14px, #002658);
          margin-bottom: 0px;
          padding-left: 4px;
        }
      }
    }

    .approval-box {
      display: flex;
      align-items: center;
      .box-each {
        padding-right: 20px;
        label {
          @include set-font("Gilroy-SemiBold", 14px, #002658);
          padding-left: 10px;
        }
      }
    }
  }
  .notification-wraps {
    margin-right: 20px;
    &.website-only-notify {
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    .nav {
      .nav-item {
        .nav-link {
          padding: 0;
          background: none !important;
          .notifications {
            padding-right: 0 !important;
          }
        }
        .dropdown-menu {
          width: 300px;
          @media only screen and (min-width: 768px) {
            width: 350px;
          }
          padding: 20px 30px;
          outline: none;
          .notify-head {
            padding: 10px 0 5px;
            @include set-font("Gilroy-SemiBold", 18px, #002658);
            outline: none;
          }
          .list-item {
            .notify-row {
              align-items: center;
              padding: 5px 15px;
              .left {
                .from_image {
                  width: 40px;
                  height: 40px;
                  border-radius: 20px;
                  object-fit: cover;
                  &.default {
                    border-radius: 0;
                  }
                }
              }
              .right {
                .from_name {
                  @include set-font("Gilroy-Medium", 13px, #002658);
                  b {
                    text-transform: capitalize;
                  }
                }
                .message {
                  @include set-font("Gilroy-SemiBold", 12px, #002658);
                }
                .type {
                  @include set-font("Gilroy-SemiBold", 13px, #002658);
                }
                .ago {
                  @include set-font("Gilroy-SemiBold", 10px, #002658);
                }
              }
            }
          }
          .viewall {
            padding: 5px;
            @include set-font("Gilroy-SemiBold", 14px, #002658);
            text-align: center;
            a {
              color: #002658;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
.admin-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;

  span {
    @include set-font("Gilroy-Medium", 14px, #000000);
  }
}
.ant-picker {
  width: 15%;
  input {
    border: none !important;
  }
}
.draft-editor-wrapper {
  border: 1px solid #f1f1f1;
  min-height: 200px;
}
.edit-popup {
  .modal-title {
    @include set-font("Gilroy-Medium", 18px, #172b4d);
  }
  .modal-body {
    background: #fff !important;
    @include set-font("Gilroy-Medium", 14px, #172b4d);
    label {
      @include set-font("Gilroy-Medium", 14px, #172b4d);
      margin-top: 20px;
    }

    .container {
      @include set-font("Gilroy-Regular", 13px, #000);
      margin-top: 0px;
    }
    .check-cats {
      margin-right: 10px;
    }
    .img-fluid {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }
    .success {
      @include set-font("Gilroy-Medium", 14px, #172b4d);
    }
  }
}

// Blog Css

.form-group.blog-image .profile_up label {
  display: flex;
  align-items: center;
}

.form-group.blog-image .profile_up {
  max-width: 320px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative !important;
}
.form-group.blog-image .profile_up .normal-img {
  width: 100% !important;
  object-fit: cover !important;
  max-width: 100% !important;
  position: absolute;
  left: 0;
}
.form-group.blog-image .profile_up input#image {
  width: 100% !important;
  padding: 64px;
}
.rmsc.multi-select * {
  font-family: "Gilroy-Regular";
  font-size: 12px;
  color: #172b4d;
  font-weight: "normal";
  /* border: 1px solid #e2e2e2; */
}
.ck-editor__editable_inline {
  min-height: 300px;
}
// End Blog Css

.ant-datepicker {
  display: block !important;
  width: 100%;
  max-width: 250px;
}
.firstcolumn {
  border: 1px #e2e2e2 solid;
  display: flex;
  .contentpara {
    border: 1px dashed #2a3954;
    margin: 5px 5px 5px 0;
    h3 {
      padding: 15px;
      text-align: center;
    }
  }
  .contentimg {
    border: 1px dashed #2a3954;
    margin: 5px 5px 5px 0;
  }
}

#add-blog {
  .card-body {
    display: none;
    &.show {
      display: block;
    }
  }
  .card-header {
    &::after {
      content: url("../images/admin/down.png");
      float: right;
    }
  }
}
