<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>FOOTPRINT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="margin: 0; padding: 0; background-image: -webkit-linear-gradient(bottom, #00C174 50%, #1D1D1D 0);">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="padding: 70px 0 40px 0;">
          <table
            align="center"
            style="  padding:0px;margin: 0 auto;"
            width="602"
          >
		  <tr >
              <td style="padding-bottom:50px">
             <a href="{{imageUrl}}"> <img src="https://outsourceme.s3.amazonaws.com/portfolio/1645769570941_1645769570939-logo-white.png" alt="OSM"  style="display: block;margin:0 auto" /></a>
             </td>
          </tr>
          <tr >
            <td>
              <table
                style="border-collapse:collapse;overflow:hidden;background:#fff; border: 1px solid #cccccc; border-radius: 7px;"
                align="center"
                cellpadding="0"
                cellspacing="0"
              >
                <tbody>
                 <tr >
                    <td colspan="2" style="padding-top:15px;padding-left: 70px;padding-right: 70px;" >

                        <h2
                          style="font-size:28px;color:#000;font-family: 'Inter', sans-serif; font-weight:700;margin-bottom: 15px;
    margin-top: 30px;"
                        >
                          You have a new request
                        </h2>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="padding-top:50px;text-align:left;padding-left: 70px;padding-right: 70px;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;"
                      >
                        Name :
                      </td>
                      <td
                        style="padding-top:50px;text-align:left;padding-left: 0px;padding-right: 70px;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;"
                      >
                        {{name}}
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="padding-top:50px;text-align:left;padding-left: 70px;padding-right: 70px;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;"
                      >
                        Phone :
                      </td>
                      <td
                        style="padding-top:50px;text-align:left;padding-left: 0px;padding-right: 70px;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;"
                      >
                        {{phone}}
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="padding-top:50px;text-align:left;padding-left: 70px;padding-right: 70px;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;"
                      >
                        Email :
                      </td>
                      <td
                        style="padding-top:50px;text-align:left;padding-left: 0px;padding-right: 70px;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;"
                      >
                        {{email}}
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="padding-top:50px;text-align:left;padding-left: 70px;padding-right: 70px;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;"
                      >
                        Topic :
                      </td>
                      <td
                        style="padding-top:50px;text-align:left;padding-left: 0px;padding-right: 70px;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;"
                      >
                        {{topic}}
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="padding-top:50px;text-align:left;padding-left: 70px;padding-right: 70px;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;"
                      >
                        Message :
                      </td>
                      <td
                        style="padding-top:50px;text-align:left;padding-left: 0px;padding-right: 70px;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;"
                      >
                        {{message}}
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="padding-top:50px;text-align:left;padding-left: 70px;padding-right: 70px;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;"
                      ></td>
                      <td
                        style="padding-top:50px;text-align:left;padding-left: 0px;padding-right: 70px;font-family: 'Inter', sans-serif; font-weight:500;font-sze:16px;"
                      ></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td style="text-align:center;padding-bottom:50px"><p style="font-family: 'Inter', sans-serif;font-size:16px; font-weight:400;margin-bottom: 0;margin-top: 3px;color:#FFFFFF">
        © 2022 Footprint.io</p></td></tr>
    </table>
  </body>
</html>
