<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>FOOTPRINT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
 

  <body style="margin: 0; padding: 0; background-image: -webkit-linear-gradient(bottom, #00C174 50%, #1D1D1D 0);">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="padding: 70px 0 40px 0;">
          <table
            align="center"
            style="  padding:0px;margin: 0 auto;"
            width="602"
          >
		  <tr >
              <td style="padding-bottom:50px">
             <a href="{{imageUrl}}"> <img src="https://outsourceme.s3.amazonaws.com/portfolio/1645769570941_1645769570939-logo-white.png" alt="OSM"  style="display: block;margin:0 auto" /></a>
             </td>
          </tr>
            <tr >
              <td>
                <table
                  style="border-collapse:collapse;overflow:hidden;background:#fff; border: 1px solid #cccccc; border-radius: 7px;"
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                   <tr >
                      <td style="padding-top:15px;padding-left: 70px;padding-right: 70px;" >
                       
                        
                              <h2 style="font-size:40px;color:#1D1D1D;font-family: 'Inter', sans-serif; font-weight:700;margin-bottom: 20px;
    margin-top: 30px; text-align:center;">Welcome {{name}}!</h2>
                              <p style="font-size:16px;color:#555555;font-family: 'Inter', sans-serif; font-weight:500;margin-bottom: 0;margin-top: 3px;">
                                We’re excited to have you get started. First, you need to confirm your account. Just press the button below
                                </p>
                                <a
                                href="{{siteuUrl}}"
                                style="text-decoration:none;"
                              >
                                <p style="width:194px; background:#00C174; border-radius: 4px; text-align: center;color:#fff; padding:15px 0px; font-family: 'Inter', sans-serif; font-weight:700;font-sze:16px;margin-bottom:24px; margin-top:24px;font-size: 18px; text-align: center;" >
                                  Confirm Account
                                </p>
                               
                              </a>
                                <p style="font-size:16px;color:#555555;font-family: 'Inter', sans-serif; font-weight:500;margin-bottom: 0;margin-top: 3px;">If that doesn’t work, copy and paste the following link in your browser:</p>
                                <a
                                href="{{siteuUrl}}"
                                style="text-decoration:none;"
                              >
                                <p style="font-size:16px;color:#00C174;font-family: 'Inter', sans-serif; font-weight:500;margin-bottom: 24px;margin-top: 24px;" >
                                  {{siteuUrl}}
                                </p>
                               
                              </a>
                                <p style="font-size:16px;color:#555555;font-family: 'Inter', sans-serif; font-weight:500;margin-bottom: 0;margin-top: 3px;">If you have any questions. just reply to this email-we’re always happy to help out.</p>
                              
                              
                              <p style="font-family: 'Inter', sans-serif; font-weight:500;font-size:16px;margin-bottom: 0;margin-top: 24px; color:#555555;">Kind and best regard.</p>
							  <p style="font-family: 'Inter', sans-serif; font-weight:500;font-size:16px;margin-bottom: 0;margin-top: 3px;margin-bottom:50px; color:#555555; ">Footprint Team</p>
                     </td>
                   </tr>
                   
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td style="text-align:center;padding-bottom:50px"><p style="font-family: 'Inter', sans-serif;font-size:16px; font-weight:400;margin-bottom: 0;margin-top: 3px;color:#FFFFFF">
        © 2022 Footprint.io</p></td></tr>
    </table>
  </body>
</html>
