@font-face {
  font-family: "Inter-Bold";
  src: url("Inter-Bold.eot");
  src: url("Inter-Bold.eot?#iefix") format("embedded-opentype"),
    url("Inter-Bold.woff2") format("woff2"),
    url("Inter-Bold.woff") format("woff"),
    url("Inter-Bold.ttf") format("truetype"),
    url("Inter-Bold.svg#Inter-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("Inter-Medium.eot");
  src: url("Inter-Medium.eot?#iefix") format("embedded-opentype"),
    url("Inter-Medium.woff2") format("woff2"),
    url("Inter-Medium.woff") format("woff"),
    url("Inter-Medium.ttf") format("truetype"),
    url("Inter-Medium.svg#Inter-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("Inter-Regular.eot");
  src: url("Inter-Regular.eot?#iefix") format("embedded-opentype"),
    url("Inter-Regular.woff2") format("woff2"),
    url("Inter-Regular.woff") format("woff"),
    url("Inter-Regular.ttf") format("truetype"),
    url("Inter-Regular.svg#Inter-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProRegular";
  src: url("SFProText-Regular.eot");
  src: url("SFProText-Regular.eot?#iefix") format("embedded-opentype"),
    url("SFProText-Regular.woff2") format("woff2"),
    url("SFProText-Regular.woff") format("woff"),
    url("SFProText-Regular.ttf") format("truetype"),
    url("SFProText-Regular.svg#SFProText-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Semi-Bold";
  src: url("Inter-SemiBold.eot");
  src: url("Inter-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Inter-SemiBold.woff2") format("woff2"),
    url("Inter-SemiBold.woff") format("woff"),
    url("Inter-SemiBold.ttf") format("truetype"),
    url("Inter-SemiBold.svg#Inter-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProText";
  src: url("SFProText-Bold.eot");
  src: url("SFProText-Bold.eot?#iefix") format("embedded-opentype"),
    url("SFProText-Bold.woff2") format("woff2"),
    url("SFProText-Bold.woff") format("woff"),
    url("SFProText-Bold.ttf") format("truetype"),
    url("SFProText-Bold.svg#SFProText-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Overpass-Bold";
  src: url("Overpass-Bold.eot");
  src: url("Overpass-Bold.eot?#iefix") format("embedded-opentype"),
    url("Overpass-Bold.woff2") format("woff2"),
    url("Overpass-Bold.woff") format("woff"),
    url("Overpass-Bold.ttf") format("truetype"),
    url("Overpass-Bold.svg#Overpass-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Overpass-ExtraBold";
  src: url("Overpass-ExtraBold.eot");
  src: url("Overpass-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("Overpass-ExtraBold.woff2") format("woff2"),
    url("Overpass-ExtraBold.woff") format("woff"),
    url("Overpass-ExtraBold.ttf") format("truetype"),
    url("Overpass-ExtraBold.svg#Overpass-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Extra-Bold";
  src: url("Inter-ExtraBold.eot");
  src: url("Inter-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("Inter-ExtraBold.woff2") format("woff2"),
    url("Inter-ExtraBold.woff") format("woff"),
    url("Inter-ExtraBold.ttf") format("truetype"),
    url("Inter-ExtraBold.svg#Inter-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Italic";
  src: url("Inter-Italic.eot");
  src: url("Inter-Italic.eot?#iefix") format("embedded-opentype"),
    url("Inter-Italic.woff2") format("woff2"),
    url("Inter-Italic.woff") format("woff"),
    url("Inter-Italic.ttf") format("truetype"),
    url("Inter-Italic.svg#Inter-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("Montserrat-Black.eot");
  src: url("Montserrat-Black.eot?#iefix") format("embedded-opentype"),
    url("Montserrat-Black.woff2") format("woff2"),
    url("Montserrat-Black.woff") format("woff"),
    url("Montserrat-Black.ttf") format("truetype"),
    url("Montserrat-Black.svg#Montserrat-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Gilroy-Bold";
  src: url("Gilroy-Bold.eot");
  src: url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Bold.woff2") format("woff2"),
    url("Gilroy-Bold.woff") format("woff"),
    url("Gilroy-Bold.ttf") format("truetype"),
    url("Gilroy-Bold.svg#Gilroy-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("Gilroy-SemiBold.eot");
  src: url("Gilroy-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("Gilroy-SemiBold.woff2") format("woff2"),
    url("Gilroy-SemiBold.woff") format("woff"),
    url("Gilroy-SemiBold.ttf") format("truetype"),
    url("Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("Gilroy-Light.eot");
  src: url("Gilroy-Light.eot?#iefix")
      format("embedded-opentype"),
    url("Gilroy-Light.woff2") format("woff2"),
    url("Gilroy-Light.woff") format("woff"),
    url("Gilroy-Light.ttf") format("truetype"),
    url("Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("Gilroy-ExtraBold.eot");
  src: url("Gilroy-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("Gilroy-ExtraBold.woff2") format("woff2"),
    url("Gilroy-ExtraBold.woff") format("woff"),
    url("Gilroy-ExtraBold.ttf") format("truetype"),
    url("Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("Gilroy-Medium.eot");
  src: url("Gilroy-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("Gilroy-Medium.woff2") format("woff2"),
    url("Gilroy-Medium.woff") format("woff"),
    url("Gilroy-Medium.ttf") format("truetype"),
    url("Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("Gilroy-Regular.eot");
  src: url("Gilroy-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("Gilroy-Regular.woff2") format("woff2"),
    url("Gilroy-Regular.woff") format("woff"),
    url("Gilroy-Regular.ttf") format("truetype"),
    url("Gilroy-Regular.svg#Gilroy-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans-Bold";
  src: url("DMSans-Bold.eot");
  src: url("DMSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("DMSans-Bold.woff2") format("woff2"),
    url("DMSans-Bold.woff") format("woff"),
    url("DMSans-Bold.ttf") format("truetype"),
    url("DMSans-Bold.svg#DMSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}